<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>./assets/css/settings.css">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>./assets/css/layers.css">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>./assets/css/navigation.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <!-- Template CSS Files -->
    <!-- <link rel="stylesheet" href="<%= BASE_URL %>./assets/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="<%= BASE_URL %>./assets/css/font-awesome.css">
    <link rel="stylesheet" href="<%= BASE_URL %>./assets/css/linearicon.css">
    <link rel="stylesheet" href="<%= BASE_URL %>./assets/css/flaticon.css">
    <link rel="stylesheet" href="<%= BASE_URL %>./assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="<%= BASE_URL %>./assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="<%= BASE_URL %>./assets/css/magnific-popup.css">
    <link rel="stylesheet" href="<%= BASE_URL %>./assets/css/style.css">


    <!---------------------------------- USer Dashboard  ----------------->
    <link href="<%= BASE_URL %>./assets/assets1/fonts.googleapis.com/icone91f.css?family=Material+Icons" rel="stylesheet">
    <link href="<%= BASE_URL %>./assets/assets1/vendors/iconic-fonts/font-awesome/css/all.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="<%= BASE_URL %>./assets/assets1/vendors/iconic-fonts/flat-icons/flaticon.css"> -->
    <link rel="stylesheet" href="<%= BASE_URL %>./assets/assets1/vendors/iconic-fonts/cryptocoins/cryptocoins.css">
    <link rel="stylesheet" href="<%= BASE_URL %>./assets/assets1/vendors/iconic-fonts/cryptocoins/cryptocoins-colors.css">
    <link href="<%= BASE_URL %>./assets/assets1/css/bootstrap.min.css" rel="stylesheet">
    <link href="<%= BASE_URL %>./assets/assets1/css/jquery-ui.min.css" rel="stylesheet">
    <link href="<%= BASE_URL %>./assets/assets1/css/slick.css" rel="stylesheet">
    <link href="<%= BASE_URL %>./assets/assets1/css/datatables.min.css" rel="stylesheet">
    <link href="<%= BASE_URL %>./assets/assets1/css/style.css" rel="stylesheet">

          <!----------------------End of Dashbord------------------------------------------>

    <link href="<%= BASE_URL %>./assets/css/index.css" rel="stylesheet">
    <link href="<%= BASE_URL %>./assets/css/indexlg.css" rel="stylesheet">
    <link href="<%= BASE_URL %>./assets/css/indexmd.css" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
  </head>
  <body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->

      <!-- Template JS Files -->
    <script src="<%= BASE_URL %>./assets/js/jquery.min.js"></script>
    <script src="<%= BASE_URL %>./assets/js/popper.min.js"></script>
    <script src="<%= BASE_URL %>./assets/js/bootstrap.min.js"></script>
    <script src="<%= BASE_URL %>./assets/js/owl.carousel.min.js"></script>
    <script src="<%= BASE_URL %>./assets/js/chart.js"></script>
    <script src="<%= BASE_URL %>./assets/js/result-chart.js"></script>
    <script src="<%= BASE_URL %>./assets/js/waypoint.min.js"></script>
    <script src="<%= BASE_URL %>./assets/js/jquery.counterup.min.js"></script>
    <script src="<%= BASE_URL %>./assets/js/jquery.magnific-popup.min.js"></script>
    <script src="<%= BASE_URL %>./assets/js/isotope-3.0.6.min.js"></script>
    <script src="<%= BASE_URL %>./assets/js/jquery-nice-select.js"></script>
    <script src="<%= BASE_URL %>./assets/js/smooth-scrolling.js"></script>
    <script src="<%= BASE_URL %>./assets/js/main.js"></script>

    <!-- Slider Revolution core JavaScript files -->
    <script src="<%= BASE_URL %>./assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="<%= BASE_URL %>./assets/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="<%= BASE_URL %>./assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="<%= BASE_URL %>./assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="<%= BASE_URL %>./assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="<%= BASE_URL %>./assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="<%= BASE_URL %>./assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="<%= BASE_URL %>./assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="<%= BASE_URL %>./assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="<%= BASE_URL %>./assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="<%= BASE_URL %>./assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="<%= BASE_URL %>./assets/js/rev-slider-script.js"></script>


        <!-- --------------------------------------------Dashboard ------------- -->
        <script src="<%= BASE_URL %>./assets/assets1/js/jquery-3.3.1.min.js"></script>
        <script src="<%= BASE_URL %>./assets/assets1/js/popper.min.js"></script> 
        <script src="<%= BASE_URL %>./assets/assets1/js/perfect-scrollbar.js"></script>
        <script src="<%= BASE_URL %>./assets/assets1/js/jquery-ui.min.js"></script>
        <script src="<%= BASE_URL %>./assets/assets1/js/jquery.steps.min.js"></script>
        <script src="<%= BASE_URL %>./assets/assets1/js/form-wizard.js"></script>
        <!-- <script src="<%= BASE_URL %>./assets/assets1/js/Chart.bundle.min.js"></script>
        <script src="<%= BASE_URL %>./assets/assets1/js/widgets.js"> </script>
        <script src="<%= BASE_URL %>./assets/assets1/js/clients.js"> </script>
        <script src="<%= BASE_URL %>./assets/assets1/js/Chart.Financial.js"> </script> -->
        <script src="<%= BASE_URL %>./assets/assets1/js/d3.v3.min.js"></script>
        <script src="<%= BASE_URL %>./assets/assets1/js/topojson.v1.min.js"></script>
        <script src="<%= BASE_URL %>./assets/assets1/js/datatables.min.js"></script>
        <script src="<%= BASE_URL %>./assets/assets1/js/data-tables.js"></script>
        <script src="<%= BASE_URL %>./assets/assets1/js/framework.js"></script>
        <script src="<%= BASE_URL %>./assets/assets1/js/settings.js"></script>

        <script>
          setTimeout(function(){
            $("#ms-aside-toggler").on('click', function(e){
              e.stopPropagation();
              $('#ms-side-nav').toggleClass('ms-aside-open');
            });
    
            $("body").on('click', function(){
              $('#ms-side-nav').toggleClass('ms-aside-open');
              if($('#ms-side-nav').hasClass('ms-aside-open')){
                $('#ms-side-nav').toggleClass('ms-aside-open');
              }
            });
          },1000);
        </script>
  </body>
</html>
