<template>
    <div>
        <section class="footer-area">
            <div class="container">
                <div class="box-icons">
                    <div class="box-one"></div>
                    <div class="box-two"></div>
                    <div class="box-three"></div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer-shared">
                            <a href="index.html">
                                <img src="./../../assets/images/logo2.png" alt="footer logo" class="footer__logo">
                            </a>
                            <p class="footer__desc">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Duis consectetur auctor elit.
                            </p>
                            <ul class="footer-address-links">
                                <li><a href="tel:+1631237884"><i class="fa fa-phone"></i>+163 123 7884</a></li>
                                <li>
                                    <a href="mailto:support@wbsite.com" class="mail">
                                        <i class="fa fa-envelope"></i> Support@Website.com
                                    </a>
                                </li>
                                <li><a href="#"><i class="fa fa-map-marker"></i>1st Avenue, Boston</a></li>
                            </ul>
                            <h4 class="footer-meta">follow & connect on.</h4>
                            <ul class="social-profile">
                                <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#" title="Youtube"><i class="fa fa-youtube-play"></i></a></li>
                            </ul>
                        </div><!-- end footer-shared -->
                    </div><!-- end col-lg-3 -->
                    <div class="col-lg-3">
                        <div class="footer-shared footer-widget">
                            <h3 class="footer-title">need help?</h3>
                            <ul class="footer-link company-link">
                                <li><a href="#">community</a></li>
                                <li><router-link to="/about">about us</router-link></li>
                                <li><a href="#">our advisors</a></li>
                                <li><a href="#">jobs</a></li>
                                <li><a href="#">keep in touch</a></li>
                                <li><a href="#">forums</a></li>
                                <li><router-link to="/contact">contact us</router-link></li>
                            </ul>
                        </div><!-- end footer-shared -->
                    </div><!-- end col-lg-3 -->
                    <div class="col-lg-3">
                        <div class="footer-shared footer-widget2">
                            <h3 class="footer-title">working hours.</h3>
                            <div class="working-wrapper">
                                <p class="working__time"><span>Monday:</span> 9am - 4pm</p>
                                <p class="working__time"><span>Tuesday:</span> 9am - 4pm</p>
                                <p class="working__time"><span>Wednesday:</span> 9am - 4pm</p>
                                <p class="working__time"><span>Thursday:</span> 9am - 4pm</p>
                                <p class="working__time"><span>Friday:</span> 9am - 4pm</p>
                                <p class="workingtime__off working__time">Sat-Sun: <span>Off</span></p>
                            </div>
                        </div><!-- end footer-shared -->
                    </div><!-- end col-lg-3 -->
                    <div class="col-lg-3">
                        <div class="footer-shared footer-widget3">
                            <h3 class="footer-title">get in touch.</h3>
                            <div class="contact-form-action">
                                <form method="post">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input class="form-control" type="text" name="name" placeholder="Name" required="">
                                            </div>
                                        </div><!-- end col-lg-12 -->
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input class="form-control" type="email" name="email" placeholder="Email" required="">
                                            </div>
                                        </div><!-- end col-lg-12 -->
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <textarea class="message-control form-control" name="message" placeholder="Write Message"></textarea>
                                            </div>
                                        </div><!-- end col-lg-12 -->
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <button class="theme-button" type="submit">
                                                    send us message <i class="fa fa-angle-right btn-icon"></i>
                                                </button>
                                            </div>
                                        </div><!-- end col-lg-12 -->
                                    </div><!-- end row -->
                                </form>
                            </div><!-- end contact-form-action -->
                        </div><!-- end footer-shared -->
                    </div><!-- end col-lg-3 -->
                </div><!-- end row -->
            </div>
        </section>

        <div id="back-to-top">
            <i class="fa fa-angle-up" title="Go top"></i>
        </div>
    </div>
</template>
<script>
export default {
    
}
</script>

<style scoped>
</style>