<template>
    <div id="loader">
        <div class="load" :style="'border-top:2px solid '+color" ></div>
    </div>
</template>

<script>
import { mapState } from 'vuex' 
export default {
    name:'notification',
    props:['color'],
    computed:{
        ...mapState({
            loader:(state)=>state.loader
        }),
    },
}
</script>

<style scoped>
    .load{
            width: 24px;
            height: 24px;
            border: 2px solid transparent;
            border-radius: 50%;
            border-top: 2px solid transparent;
            margin: 10px 20px;
            animation: roll .3s infinite linear;
    }
    @keyframes roll {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
</style>