<template>
    <div>
        <header class="header-area">
            <div class="header-top">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="header-top-info">
                                <ul class="info-list">
                                    <li><i class="fa fa-phone"></i>
                                        <a href="tel:+18008012718">+1 800 801 27 18</a>
                                    </li>
                                    <li><i class="fa fa-envelope"></i>
                                        <a href="mailto:example@gmail.com">example@gmail.com</a>
                                    </li>
                                    <li><i class="fa fa-map-marker"></i>1st Avenue, Boston
                                    </li>
                                </ul>
                            </div><!-- end header-top-info -->
                        </div><!-- end col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="header-top-info header-login-info">
                                <ul class="info-list">
                                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="#" class="theme-button">work with us <i class="fa fa-angle-right btn-icon"></i></a></li>
                                </ul>
                            </div><!-- end header-top-info -->
                        </div><!-- end col-lg-6 -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </div><!-- end header-top -->
            <div class="header-menu-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="logo">
                                <a href="/"> <img src="../../assets//INvenstor2.png" alt="logo"></a>
                            </div><!-- end logo -->
                        </div><!-- end col-lg-3-->
                        <div class="col-lg-9 main-menu-wrapper">
                            <div class="main-menu-content">
                                <nav>
                                    <ul>
                                        <li>
                                            <router-link to="/">home</router-link>
                                        </li>
                                        <li>
                                            <router-link to="/">pages</router-link>
                                        </li>
                                        <li>
                                            <router-link to="/services">services</router-link>
                                        </li>
                                        <li>
                                            <router-link to="/login">login </router-link>
                                        </li>
                                        <li>
                                            <router-link to="/register">register </router-link>
                                        </li>
                                        <li><router-link to="/contact">contact</router-link></li>
                                    </ul>
                                </nav>
                                <div class="logo-right-button">
                                    <ul>
                                        <li>
                                            <div class="cart__icon">
                                                <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                                <span class="cart__item-count">2</span>
                                            </div>
                                            <div class="cart__items">
                                                <div class="items">
                                                    <img src="../../assets/images/shop-img-small.jpg" alt="product">
                                                    <div class="item__info">
                                                        <a href="product-detail.html">Business Marketing</a>
                                                        <span class="item__info-price">$200.00</span>
                                                    </div>
                                                    <a href="#" class="item__remove">
                                                        <i class="fa fa-close"></i>
                                                    </a>
                                                </div><!-- end items -->
                                                <div class="items items2">
                                                    <img src="../../assets/images/shop-img-small2.jpg" alt="product">
                                                    <div class="item__info">
                                                        <a href="product-detail.html">Business Marketing</a>
                                                        <span class="item__info-price">$100.00</span>
                                                    </div>
                                                    <a href="#" class="item__remove">
                                                        <i class="fa fa-close"></i>
                                                    </a>
                                                </div><!-- end items -->
                                                <div class="cart__info">
                                                    <p>Total: <span>$300.00</span></p>
                                                    <a class="theme-button" href="cart.html">View Cart</a>
                                                    <a class="theme-button" href="checkout.html">Checkout</a>
                                                </div><!-- end cart_info -->
                                            </div><!--end cart__items -->
                                        </li>
                                        <li>
                                            <div class="search-button">
                                                <div class="dropdown">
                                                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <div class="contact-form-action">
                                                            <form method="post">
                                                                <div class="form-group mb-0">
                                                                    <input type="text" name="text" class="form-control" placeholder="Search by keywords...">
                                                                    <a href="javascript:void(0)" class="search-icon"><i class="fa fa-search"></i></a>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="side-menu-open" @click="toggleSideBar()">
                                        <span class="menu__bar"></span>
                                        <span class="menu__bar"></span>
                                        <span class="menu__bar"></span>
                                    </div><!-- end side-menu-open -->
                                </div><!-- end logo-right-button -->
                            </div><!-- end main-menu-content -->
                        </div><!-- end col-lg-9 -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </div><!-- end header-menu-wrapper -->
            <div class="side-nav-container">
                <div class="humburger-menu">
                    <div class="humburger-menu-lines side-menu-close" @click="toggleSideBar()"></div><!-- end humburger-menu-lines -->
                </div><!-- end humburger-menu -->
                <div class="side-menu-wrap">
                    <ul class="side-menu-ul">
                        <li class="sidenav__item">
                            <router-link to="/">home</router-link>
                        </li>
                        <li class="sidenav__item">
                            <a href="#">pages</a>
                        </li>
                        <li class="sidenav__item">
                            <a href="#">services</a>
                        </li>
                        <li class="sidenav__item">
                            <router-link to="/contact">Contact</router-link>
                        </li>
                        <li class="sidenav__item">
                            <router-link to="/login">login</router-link>
                        </li>
                        <li class="sidenav__item sidenav__item2 text-center">
                            <router-link to="/register"><i class="fa fa-sign-in-alt"></i> sign up</router-link>
                        </li>
                    </ul>
                </div><!-- end side-menu-wrap -->
            </div><!-- end side-nav-container -->
        </header>
    </div>
</template>
<script>
export default {
    methods:{
        toggleSideBar(){
            let sidebar = document.getElementsByClassName('side-nav-container')[0]
            sidebar.classList.toggle('active')
        }
    }
}
</script>

<style>

/* .funfact-item .funfact-icon {
    position: relative !important;
    width: 80px !important;
    height: 80px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    line-height: 80px !important;
} */
</style>