<template>
    <div class="row">
        <div v-if="notification.type == 1" class="col-11 m-auto alert alert-success text-center">
            <b style="font-weight: 300;" v-html="notification.message"></b>
        </div>
        <div v-if="notification.type == 2" class="col-11 m-auto alert alert-danger text-center">
            <b style="font-weight: 300;" v-html="notification.message"></b>
        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex' 
export default {
    name:'notification',
    computed:{
        ...mapState({ 
            notification:(state)=>state.notification
        }),
    },
}
</script>
