<template>
    <div class="row padding pd">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="investBalance_wrapper">
                <div class="invest_head">
                    <div class="circle_big">
                        <div class="circle_small">
                            <div class="tiny_circle"></div>
                        </div>
                    </div>
                    <div class="invest_text">
                        <span class="welC">WELCOME HERE</span>
                        <h5 class="invest_name">
                            {{user.firstname + ' '+ user.lastname}}
                        </h5>
                        <span class="invest_email">
                            {{user.email}}
                        </span>
                    </div>
                </div>
                <div class="invest_body">
                    <h6 class="invest_acc">Account Balance</h6>
                    <div class="invest_bal">
                        <div class="bal">Investment <br> Balance</div>
                        <div class="balance">$0</div>
                    </div>
                </div>
            </div>
            <div class="history_wrapper">
                <div class="d-block news_head history_head">
                    <h6 class="m-0">Category Interests</h6>
                    <p class="p-0 m-0 mt-1" style="font-size:12px">You will notified when new inventions are been added into your selected categories</p>
                </div>
                <div class="history_body">
                    <select2 
                        @change="selectCategory($event)"
                        placeholder="Select Multiple Invention Categories"
                        style="width:100%" v-model="category"
                        :key="categories.id"
                        :options="categories.filter((d)=> selected_categories.find((e)=> e.id == d.id) == undefined ).map((d)=>{ return {id:d.id,text:d.name}; })"
                         ></select2>
                </div>
                <div class="cat_list">
                    <ul>
                        <li v-for="(category,index) in selected_categories" :key="index">
                            <a href="#" @click="$event.preventDefault()">
                                {{category.name}} 
                                <i @click="removeCategory(category.id)" class="ml-2 text-danger fas fa-remove"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-7 col-lg-6 offset-lg-1 offset-md-0">
            <div class="row">
                <div class="col-md-12">
                    <div class="Invention_wrapper">
                        <h6>Recent Inventions</h6>
                        <!-- owl-carousel owl-theme -->
                        
                        <div class="carousel_wrapper ">
                            <p class="text-danger">No recent invention</p>
                            <!-- <div class="card_wrapper item">
                                <div class="card_head">
                                    <div class="card_title">
                                        <h4>Invention Title</h4>
                                    </div>
                                    <div class="stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star grey"></i>
                                        <i class="fa fa-star grey"></i>
                                    </div>
                                </div>
                                <div class="card_body">
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident, minus sit consectetur commodi similique ut maiores vitae quae cumque ipsa nisi explicabo ratione, animi cupiditate.</p>
                                </div>
                                <div class="card_footer">
                                    <div class="foot_price">
                                        <span class="price_description">
                                            INVESTMENT NEEDED
                                        </span>
                                        <span class="price">
                                            $75,000.00
                                        </span>
                                    </div>
                                    <div class="card_button">
                                        <button class="btn">Read More
                                            <i class="fas fa-greater-than"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>  -->
                        </div>
                    </div>
                        
                </div>  
                
                <div class="col-md-12">
                    <div class="news_wrapper">
                        <div class="news_head">
                            <h6>News Feed</h6>
                            <div class="view_all">
                                <p>View All</p>
                                <i class="fa fa-long-arrow-right"></i>
                            </div>
                        </div>
                        <div class="news_body">
                            <p class="text-danger">No news feed</p>
                            <!-- <span class="date">
                                September 13, 2020
                            </span>
                            <div class="investor">
                                <div class="investor_img">

                                </div>
                                <div class="investor_details">
                                    <span class="name">
                                        Investor A. I
                                    </span>
                                    <span class="investor_price">
                                        invested $10,000 to invention xyz by Saliu Elenu
                                    </span>
                                </div>
                            </div>
                            <div class="investor">
                                <div class="investor_img">

                                </div>
                                <div class="investor_details">
                                    <span class="name">
                                        Investor A. I
                                    </span>
                                    <span class="investor_price">
                                        invested $10,000 to invention xyz by Saliu Elenu
                                    </span>
                                </div>
                            </div> -->
                        </div> 
                    </div>
                </div>
            </div>
        </div> 
    </div>
</template>

<script>
import { mapState } from 'vuex'; 
export default {
    data(){
        return {
            category:0, 
            selected_categories:[]
        }
    },
    computed:{
        ...mapState({
            user:(context)=>context.user, 
            categories:(state)=>state.categories,
            userType:(context)=>context.userType,
            endpoint:(context)=>context.endpoint,
            token:(context)=>context.token 
        }),
    },
    methods:{
        removeCategory(id){
            this.$store.dispatch('get','detach-category/'+id);

            var selected=this.categories.find((e)=> e.id == id);
            if(selected){
                var user=this.user;
                user.categories= user.categories.filter((d)=> d.id != id);
                this.selected_categories=user.categories;
                this.$store.commit('setUser',user);
            }
        },
        selectCategory(id){
            this.$store.dispatch('get','attach-category/'+id);

            var selected=this.categories.find((e)=> e.id == id);
            if(selected){
                var user=this.user; 
                if(user.categories.find((d)=> d.id == id) == undefined){
                    user.categories.push(selected);
                    this.selected_categories=user.categories;
                }
                this.$store.commit('setUser',user);
            }
            this.category=0;
        }
    },
    created(){
        this.selected_categories=this.user.categories;
        if(this.categories.length == 0){
            this.$store.dispatch('get','category?token='+this.token)
            .then((data)=>{ 
                this.$store.state.categories=data.data;
            });
        }
    }
}
</script>
<style>
    .select2-container{
        width: 100% !important;
    }
    .vs__dropdown-toggle{
        height: 100%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-right: 0px;
    }
    .multiselect__tag span{
     color:white !important;   
    }
    .multiselect__tag-icon:after{
        color: white !important;
    }
    .multiselect__tag{
        background: #ac3335;
    }
</style>

<style scoped>
    .cat_list{
        padding: 0px 35px;
    }
    .cat_list ul{
        list-style: square;
    }
    .cat_list ul li{
        margin:10px 0px;
    }
    .cat_list ul li a{
        padding: 2px 15px 5px;
        background: #ac33351a;
        color: #ac3335;
        border-radius: 20px;
    }
    .history_head{
        padding: 15px 20px;
    }
    .history_body{
        padding: 10px 20px;
    }
</style>