<template>
    <div id="inventions">
        <div class="row padding">
            <div class="col-xm-12 col-md-12 mb-3">
                <div class="col-12 mt-5 p-0">
                    <h6>Filter</h6>
                </div>
                <div class="filter mt-0" style="border-bottom:1px solid lightgray">
                    <div class="select_wrapper">
                        <div class="form-group select">
                            <form action="">
                                <label for="">Business Name</label>
                                <input @keyup="search()" v-model="text" type="text" class="form-control" placeholder="Enter invention name">
                            </form>
                        </div>
                        <div class="select form-group "> 
                            <label for="">Business Category</label>
                            <div class="form-control">
                                <select2 
                                    @change="selectCategory($event)" 
                                    placeholder="Select Multiple Invention Categories"
                                    style="width:100%" v-model="category"
                                    :key="categories.id"
                                    :options="[{id:0,text:'All categories'},...categories.map((d)=>{ return {id:d.id,text:d.name}; }) ]"
                                ></select2>
                            </div>
                        </div>
                        <div class="select form-group">
                            <label for="">Investment Required</label>
                            <div class="form-control" @mouseup="search()">
                                <VueSimpleRangeSlider
                                    style="width: 300px"
                                    :min="0"
                                    :max="1000000"
                                    :logarithmic="true"
                                    v-model="range"
                                    barColor="lightgray"
                                    activeBarColor="#ac3335"
                                    @change="search()"
                                />
                            </div>
                        </div> 
                        <div class="select form-group">
                            <label for="">Rating</label>
                            <div class="form-control ml-2">
                                <select2 
                                @change="search()" 
                                placeholder="Filter By Ratings"
                                style="width:100%" 
                                v-model="rating" 
                                :options="stars"
                            ></select2> 
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>  
        </div>
        <div class="row m-0 padding">
            <pagination v-model="current_page" :per-page="20" :records="total" @paginate="paginate"></pagination>
        </div>
        <div class="row padding" >
            <div v-if="loading">
               <div class="row">
                   <div class="col-sm-12 col-md-6 col-lg-4">
                        <div style="height:200px;width:400px">
                            <Skeleton height="100%"/>
                        </div>
                   </div>
                   <div class="col-sm-12 col-md-6 col-lg-4">
                        <div style="height:200px;width:400px">
                            <Skeleton height="100%"/>
                        </div>
                   </div>
                   <div class="col-sm-12 col-md-6 col-lg-4">
                        <div style="height:200px;width:400px">
                            <Skeleton height="100%"/>
                        </div>
                   </div> 
               </div>
               <div class="row mt-4">
                   <div class="col-sm-12 col-md-6 col-lg-4">
                        <div style="height:200px;width:400px">
                            <Skeleton height="100%"/>
                        </div>
                   </div>
                   <div class="col-sm-12 col-md-6 col-lg-4">
                        <div style="height:200px;width:400px">
                            <Skeleton height="100%"/>
                        </div>
                   </div>
                   <div class="col-sm-12 col-md-6 col-lg-4">
                        <div style="height:200px;width:400px">
                            <Skeleton height="100%"/>
                        </div>
                   </div> 
               </div>
                <div class="row mt-4">
                   <div class="col-sm-12 col-md-6 col-lg-4">
                        <div style="height:200px;width:400px">
                            <Skeleton height="100%"/>
                        </div>
                   </div>
                   <div class="col-sm-12 col-md-6 col-lg-4">
                        <div style="height:200px;width:400px">
                            <Skeleton height="100%"/>
                        </div>
                   </div>
                   <div class="col-sm-12 col-md-6 col-lg-4">
                        <div style="height:200px;width:400px">
                            <Skeleton height="100%"/>
                        </div>
                   </div> 
               </div>
            </div>
            <div v-else v-for="(invention,index) in inventions" :key="index" class="col-sm-12 col-md-6 col-lg-4">
                <router-link target="_blank" :to="'invention/'+invention.reference_id+'/'+invention.business_name">
                    <div class="card_wrapper">
                        <div class="card_head">
                            <div class="card_title">
                                <h4>{{invention.business_name}}</h4>
                            </div>
                            <div class="stars">
                                <i :class="invention.rating >= 1 ? 'fas fa-star':'far fa-star'" ></i>
                                <i :class="invention.rating >= 2 ? 'fas fa-star':'far fa-star'" ></i>
                                <i :class="invention.rating >= 3 ? 'fas fa-star':'far fa-star'" ></i>
                                <i :class="invention.rating >= 4 ? 'fas fa-star':'far fa-star'" ></i>
                                <i :class="invention.rating == 5 ? 'fas fa-star':'far fa-star'" ></i> 
                            </div>
                        </div>
                        <div class="card_body">
                            <p>{{getSubString(200,invention.description)}}</p>
                        </div>
                        <div class="card_footer">
                            <div class="foot_price pt-3">
                                <span class="price_description">
                                    INVESTMENT RAISED/INVESTMENT NEEDED
                                </span>
                                <span class="price">
                                    <money-format :value="invention.investment_raised * 100" 
                                    :locale="'en'" 
                                    :currency-code="'USD'" 
                                    :subunits-value=true 
                                    :hide-subunits=true>
                                    </money-format>
                                    /  
                                    <money-format :value="invention.invest_required * 100" 
                                    :locale="'en'" 
                                    :currency-code="'USD'" 
                                    :subunits-value=true 
                                    :hide-subunits=true>
                                    </money-format>
                                </span>
                            </div>
                            <div class="card_button">
                                <button class="btn">Read More
                                    <i class="fas fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </router-link>
            </div> 
        </div>
        
    </div>
</template>

<script>
import { mapState } from 'vuex';
import mixins from '../../../mixin';
import Pagination from 'vue-pagination-2';
import VueSimpleRangeSlider from 'vue-simple-range-slider';
import 'vue-simple-range-slider/dist/vueSimpleRangeSlider.css';
import { Skeleton } from 'vue-loading-skeleton';

    export default {
        components:{
            'Pagination':Pagination,
            VueSimpleRangeSlider,Skeleton
        },
        data(){
            return {
                inventions:[],
                next_page:null,
                prev_page:null,
                current_page:0,
                url_path:null,
                total:0,
                category:0, 
                rating:0,  
                text:'',
                changes:0,
                range: [0,1000000],
                loading:false,
                stars:[
                    {id:0,text:'All'},
                    {id:1,text:'1 Star'},
                    {id:2,text:'2 Star'},
                    {id:3,text:'3 Star'},
                    {id:4,text:'4 Star'},
                    {id:5,text:'5 Star'},
                ]
            }
        },
        watch:{
            // range:function(){ 
            //     this.search();
            // }
        },
        mixins:[mixins],
        computed:{
            ...mapState({
                token:(state)=>state.token,
                categories:(state)=>state.categories,
            })
        },
        methods:{
            paginate(data){
                this.fetchData("fetch-inventions?token="+this.token+"&page="+data);
            },
            selectCategory(id){
                this.category=id;
                this.search();
            },
            search(){ 
                var url="fetch-inventions?page=1";
                if(this.category > 0){
                    url+="&category="+this.category;
                }
                if(this.rating > 0){
                    url+="&rating="+this.rating;
                }
                if(this.text.length > 0){
                    url+="&text="+this.text;
                }
                url+="&min="+this.range[0];
                url+="&max="+this.range[1];

                this.fetchData(url);
            },
            fetchData(url){
                
                var loaded=false;
                setTimeout(()=>{
                    if(!loaded){
                        this.loading=true;
                    }
                },500);
                this.$store.dispatch('get',url)
                .then((data)=>{
                    console.log(data);

                    this.inventions=data.data.data; 
                    this.next_page=data.data.next_page_url;
                    this.prev_page=data.data.prev_page_url;
                    this.current_page=data.data.current_page;
                    this.url_path=data.data.path;
                    this.total=data.data.total; 
                    this.loading=false;
                    loaded=true;
                })
                .catch((error)=>{
                    console.log(error.request);
                    this.loading=false;
                });
            }
        },
        created(){
            this.fetchData("fetch-inventions?token="+this.token);
            
            if(this.categories.length == 0){
                this.$store.dispatch('get','category?token='+this.token)
                .then((data)=>{ 
                    
                    this.$store.state.categories=data.data;
                });
            }
        }
    }
</script>
<style >
    .simple-range-slider .simple-range-slider-bg-bar{
        margin: 10px 0px !important;
    }
    .simple-range-slider-popover-arrow{ 
            top: 16px !important; 
            transform: rotate(180deg) !important;
    }
    .simple-range-slider-popover{ 
        bottom: -40px !important; 
    }
    .page-item.active .page-link, .pagination-light .page-item.active .page-link{
        background-color: #ac3335;
        border-color: #ac3335;
    }
    .VuePagination {
        margin-right: auto; 
    }
    #inventions .select2-container--default .select2-selection--single{
        border:none !important;
    }
</style>

<style scoped> 
    .card_wrapper{
        transition: all .2s linear;
    }
    .card_wrapper:hover{
        box-shadow: 0px 0px 5px #d3d3d3a6;
        background: #ac33350d;
        cursor: pointer;
    }
    .card_wrapper:hover .card_button button{
        background: white;
        color: #ac3335;
        border: 1px solid #ac333591;
    }
    .select:first-child{
        margin-left: 0px;
    }
    select{
        font-size: 13px;
        border-radius: 4px;
    }
    .card_body{
        min-height: 125px;
    }
    span.price div{
        display: inline;
    }
    .card_button button { 
        padding: 6px 15px 6px;
    }
    .select_wrapper{
        width: 100%;
    }
    
</style>