<template>
    <div id="view_invention">
        <div class="row h-100">
            <div class="col-sm-12 col-md-8 col-lg-9 h-100">
                <div class="invention-body p-300">
                    <div class="details1_row dt-row row">
                        <div class="col-sm-12 col-md-3">
                            <div class="logo-holder" style="position:relative"><b>{{invention.business_name.substr(0,1)}}</b></div>
                        </div>
                        <div class="col-sm-12 col-md-9">
                            <div class="header">
                                <h1>{{invention.business_name}}</h1>
                                <p>{{invention.description}}</p>
                                <!-- <div class="m-0">{{invention.industry}}</div> -->
                                <div class="card-row p-0">
                                    <div><span>Target Market:</span></div>
                                    <div><b>{{invention.target_market}} </b></div>
                                </div> 
                            </div>
                    </div> 
                    </div>
                    <div class="details2_row dt-row  row">
                        <div class="col-sm-12 col-md-4">
                            <div class="col">
                                <div class="box-title">
                                    Amount of Investment raised/required
                                </div>
                                <div class="box-value price">
                                    <money-format :value="invention.investment_raised * 100" 
                                    :locale="'en'" 
                                    :currency-code="'USD'" 
                                    :subunits-value=true 
                                    :hide-subunits=true>
                                    </money-format>
                                    /  
                                    <money-format :value="invention.invest_required * 100" 
                                    :locale="'en'" 
                                    :currency-code="'USD'" 
                                    :subunits-value=true 
                                    :hide-subunits=true>
                                    </money-format>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div class="col">
                                <div class="box-title">
                                    Year Of Registration
                                </div>
                                <div class="box-value">
                                    {{invention.reg_year}}
                                </div>
                            </div>
                        </div> 
                        <div class="col-sm-12 col-md-2">
                            <div class="col">
                                <div class="box-title">
                                    Shareholders
                                </div>
                                <div class="box-value">
                                    {{invention.no_shareholder}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div class="col">
                                <div class="box-title">
                                    Equity Trade-off
                                </div>
                                <div class="box-value">
                                    50.00%
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="details3_row dt-row row">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="goalHeader">
                                    <h2 class="mb-0">
                                        <button @click="reset_arrows('goal')" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#goalCollapse" aria-expanded="true" aria-controls="goalCollapse">
                                            Goal 
                                            <i :class="arrow_toggles.goal ? 'fas fa-chevron-down':'fas fa-chevron-right'"></i>
                                        </button>
                                    </h2>
                                </div>

                                <div id="goalCollapse" class="collapse show" aria-labelledby="goalHeader" data-parent="#accordionExample">
                                    <div class="card-body">
                                        {{invention.business_goal}}
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="missionHeader">
                                <h2 class="mb-0">
                                    <button @click="reset_arrows('mission')" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#missionCollapse" aria-expanded="true" aria-controls="missionCollapse">
                                        Mission 
                                        <i :class="arrow_toggles.mission ? 'fas fa-chevron-down':'fas fa-chevron-right'"></i>
                                    </button>
                                </h2>
                                </div>

                                <div id="missionCollapse" class="collapse" aria-labelledby="missionHeader" data-parent="#accordionExample">
                                    <div class="card-body">
                                        {{invention.business_mission}}
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="visionHeader">
                                <h2 class="mb-0">
                                    <button @click="reset_arrows('vision')" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#visionCollapse" aria-expanded="true" aria-controls="visionCollapse">
                                        Vision 
                                        <i :class="arrow_toggles.vision ? 'fas fa-chevron-down':'fas fa-chevron-right'"></i>
                                    </button>
                                </h2>
                                </div>

                                <div id="visionCollapse" class="collapse" aria-labelledby="visionHeader" data-parent="#accordionExample">
                                    <div class="card-body">
                                        {{invention.business_vision}}
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="card">
                                <div class="card-header" id="pitchHeader">
                                <h2 class="mb-0">
                                    <button @click="reset_arrows('pitch')" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#pitchCollapse" aria-expanded="true" aria-controls="missionCollapse">
                                        Pitch
                                        <i :class="arrow_toggles.pitch ? 'fas fa-chevron-down':'fas fa-chevron-right'"></i>
                                    </button>
                                </h2>
                                </div>

                                <div id="pitchCollapse" class="collapse" aria-labelledby="pitchHeader" data-parent="#accordionExample">
                                    <div class="card-body">
                                        {{invention.business_pitch}}
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="details4_row dt-row row">
                        <div class="col-sm-12 col-md-6">
                            <div class="det-card">
                                <div class="card-heading">
                                    Business Details
                                </div>
                                <div class="card-content">
                                    <div class="card-row">
                                        <div><span>Value Of Business:</span></div>
                                        <div >
                                            <b class="m-0">
                                                <money-format :value="invention.value_of_business * 100" 
                                                :locale="'en'" 
                                                :currency-code="'USD'" 
                                                :subunits-value=true 
                                                :hide-subunits=true>
                                                </money-format> 
                                            </b>
                                        </div>
                                    </div>
                                    <div class="card-row">
                                        <div><span>No Of Employee:</span></div>
                                        <div >
                                            <b>{{invention.no_employee}}</b>
                                        </div>
                                    </div>
                                    <div class="card-row">
                                        <div><span>Business Stage:</span></div>
                                        <div >
                                            <b>{{invention.business_stage}}</b>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="det-card">
                                <div class="card-heading">
                                    Contact Details
                                </div>
                                <div class="card-content">
                                    <div class="card-row">
                                        <div><span>Reg No:</span></div>
                                        <div><b>{{invention.cac_no}}</b></div>
                                    </div>
                                    <div class="card-row">
                                        <div><span>Year Of Registration:</span></div>
                                        <div><b>{{invention.reg_year}}</b></div>
                                    </div>
                                    <div class="card-row">
                                        <div><span>Industry:</span></div>
                                        <div><b>{{invention.industry}}</b></div>
                                    </div> 
                                    <div class="card-row">
                                        <div><span>Email Address:</span></div>
                                        <div><b>{{invention.email}}</b></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="details5_row dt-row row">
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <button class="btn invest-btn">INVEST NOW</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3 p-0 h-100 ">
                <div id="reviews" class="reviews p-300">
                    <h5 class="review-title">
                        <span>Reviews</span> 
                        
                        <span>
                            <i :class="invention.rating >= 1 ? 'fas fa-star':'far fa-star'" ></i>
                            <i :class="invention.rating >= 2 ? 'fas fa-star':'far fa-star'" ></i>
                            <i :class="invention.rating >= 3 ? 'fas fa-star':'far fa-star'" ></i>
                            <i :class="invention.rating >= 4 ? 'fas fa-star':'far fa-star'" ></i>
                            <i :class="invention.rating == 5 ? 'fas fa-star':'far fa-star'" ></i> 
                        </span>
                    </h5>
                    <div v-for="(review,index) in reviews" :key="index" :id="'review_'+review.id" :class="active_review == review.id ? 'review active':'review'">
                        <div class="review-header">
                            <div class="review-img-holder">
                                <b>{{review.user.firstname.substr(0,1)}}</b>
                            </div>
                            <div class="review-user">
                                <h4 class="m-0">{{review.user.firstname}}</h4>
                                <p class="p-0 m-0">{{review.created_at}}</p>
                            </div>
                        </div>
                        <div class="review-body">
                            <p>{{review.content}}</p>
                        </div>
                        <!-- <div class="review-footer">
                             <div class="stars">
                                <i :class="review.rating >= 1 ? 'fas fa-star':'far fa-star'" ></i>
                                <i :class="review.rating >= 2 ? 'fas fa-star':'far fa-star'" ></i>
                                <i :class="review.rating >= 3 ? 'fas fa-star':'far fa-star'" ></i>
                                <i :class="review.rating >= 4 ? 'fas fa-star':'far fa-star'" ></i>
                                <i :class="review.rating == 5 ? 'fas fa-star':'far fa-star'" ></i> 
                            </div>
                        </div> -->
                    </div> 
                    <div v-if="!fetching_reviews && !end_of_reviews" class="loadmore">
                        <button @click="loadmore()" class="btn">Load more</button>
                    </div>
                    <div class="comment-review">
                        <textarea v-model="review.content" placeholder="Type your review here....." class="p-2" id="" maxlength="500" cols="30" rows="10"></textarea>
                        <div class="row">
                            <!-- <div class="col-12 col-md-6 mt-4">
                                <i :class="review.rating >= 1 ? 'fas fa-star':'far fa-star'" ></i>
                                <i :class="review.rating >= 2 ? 'fas fa-star':'far fa-star'" ></i>
                                <i :class="review.rating >= 3 ? 'fas fa-star':'far fa-star'" ></i>
                                <i :class="review.rating >= 4 ? 'fas fa-star':'far fa-star'" ></i>
                                <i :class="review.rating == 5 ? 'fas fa-star':'far fa-star'" ></i> 
                            </div> -->

                            <div class="col-12 col-md-6">
                                <button @click="sendReview()" class="btn ">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script> 
import { mapState } from 'vuex';
    export default {
        data(){
            return {
                arrow_toggles:{
                    goal:true, 
                },
                invention:{business_name:''},
                reviews:[],
                current_page:0,
                fetching_reviews:false,
                end_of_reviews:false,
                review:{
                    content:'',
                    rating:0
                },
                active_review:0

            }
        },
        computed:{
            ...mapState({
                user:(state)=>state.user
            })
        },
        methods:{
            reset_arrows(field){
                if(!this.arrow_toggles[field]){
                    this.arrow_toggles={[field]:true}
                }else{
                    this.arrow_toggles={[field]:false}
                }
            },
            toggleActive(id){
                this.active_review=id;
                
                setTimeout(()=>{
                    this.active_review=0;
                },500);

                window.$("#reviews").scrollTop(window.$('#review_'+id).offset().top);
            },
            sendReview(){
                this.$store.dispatch('post',{endpoint:"give-review/"+this.$route.params.reference,details:this.review})
                .then((data)=>{
                    console.log(data);

                })
                .catch((error)=>{
                    console.log(error.request);
                });
                var temp_id=Math.floor(Math.random() * 20);
                var review={
                    id:temp_id,
                    user:this.user,
                    content:this.review.content,
                    rating:this.review.rating,
                    invention_id:this.invention.id,
                    created_at:'Now'
                };
                this.reviews.unshift(review);
                setTimeout(()=>{
                    this.toggleActive(temp_id);
                },200);

                this.review.content='';
                
            },
            loadReviews(url){

                if(this.fetching_reviews || this.end_of_reviews){
                    return false;
                }
                this.fetching_reviews=true;
                this.$store.dispatch('get',url)
                .then((data)=>{
                    // console.log(data);
                    this.reviews=[...this.reviews,...data.data.data];
                    this.current_page=data.data.current_page;
                    this.fetching_reviews=false;
                    this.end_of_reviews=data.data.next_page_url == null ? true:false;
                })
                .catch((error)=>{
                    console.log(error);
                    this.fetching_reviews=false;
                });
            },
            loadmore(){
                this.loadReviews('get-reviews/'+this.$route.params.reference+"?page="+(this.current_page+1));
            }
        },
        created(){
            this.$store.dispatch('get','get-invention/'+this.$route.params.reference)
            .then((data)=>{
                console.log(data);
                if(data.data.status){
                    this.invention=data.data.data;
                }else{
                    // this.$router.push('/');
                }
            })
            .catch((error)=>{
                console.log(error.request);
            });

            this.loadReviews('get-reviews/'+this.$route.params.reference+"?page=1");
        }
    }
</script> 
<style scoped>  
    .invest-btn{
        background: #ac3335;
        color: white;
        width: 170px;
        padding: 16px 0px;
        font-size: 16px;
        border-radius: 2px;
    }
    .loadmore{
            margin-bottom: 100px;
    }
    .loadmore button{
        margin: auto;
        display: block;
        margin-top: 10px;
        padding: 6px 15px
    }
    .price div{
        display: inline;
        color: black;
    }
    .dt-row {
        padding: 0px 30px;
    }
    #view_invention{
        margin-bottom: 100px;
        height: 900px;
    }
    .p-300{
            padding-bottom: 300px;
    }
    .h-100{
        height: 100%;
    }
    .invention-body{
        height: 100%;
        overflow: scroll;
    }
    .reviews{
        height: 100%;
        overflow: scroll;
    }
    .invention-body::-webkit-scrollbar {
        display: none;
    }
    /* Reviews */
    .comment-review{
        position: absolute;
        bottom: 14%;
        left: 0;
        right: 0;
        background: white;
        box-shadow: 0px 0px 5px #d3d3d380;
        padding: 10px 10px 20px;
    }
    .comment-review textarea{
        border: 1px solid #d3d3d36e;
        width: 100%;
        height: 100px;
    }
    .comment-review button.btn{
        background-color: #ac3335;
        color: white;
    }
    .reviews{
        height: 100%;
        border: 1px solid #d3d3d338;
        box-shadow: 0px 0px 5px #d3d3d359;
        padding-top: 40px;
        /* position: relative; */
    }
    .review-title{
        padding: 10px 10px;
        font-size: 17px;
        font-weight: 400;
        color: darkslategray;
        border-bottom: 1px solid #d3d3d342;
        position: absolute;
        top: 0;
        left: 1px;
        right: 0;
        background: white;
        display: flex;
        justify-content: space-between;
            z-index: 9;
    }
    .review{
        padding: 10px 7px 19px;
        border-bottom: 1px solid #d3d3d336;
        transition:all 1s linear;
    }
    .review.active{
        background: #b95255;
    }
    .reviews::-webkit-scrollbar {
        display: none;
    }
    .review-header{
        display: flex;
    }
    .review-img-holder{
        width: 35px;
        height: 35px;
        background: #b03e3f26;
        border-radius: 50%;
        position: relative;
        color: #b95255;
    }
    .review-img-holder b{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 20px;
        height: fit-content;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
    }
    .review-user{
        margin-left: 5px;
    }
    .review-user h4{
        font-size: 18px;
    }
    .review-user p{
        font-size: 11px;
    color: gray;
    margin-bottom: 6px !important;
    }
    .review-body{
            padding-left: 40px;
    }
    .review-body p{}
    .review-footer{
            padding-left: 40px;
    }
    .review-footer .stars{}
    .review-footer .stars i{}
    

    /* Details 4 */
    .details4_row{

    }
    .det-card{
        border: 1px solid lightgray;
        padding: 0px 0px;
        border-radius: 2px;
    }
    .card-heading{
        margin: 0px;
    padding: 10px 17px;
    color: grey;
    font-size: 15px;
    font-weight: normal;
        border-bottom: 1px solid lightgray;
    }
    .card-content{
        padding: 5px 17px;
    }
     .card-row{
        display: flex;
        padding: 5px 0px;
    }
     .card-row span{
        font-weight: 300;
    font-size: 13px;
    }
     .card-row b{
        margin-left: 4px;
    }

    /* Details 3 */
    .details3_row{
        margin: 30px 0px;
    }
    .accordion{
        width: 100%;
    }
    .accordion .card-header{
        padding: 0px;
    }
    .accordion .card-header h2{ 
    }
    .accordion .card-header h2 button{
        color: #ac3335 !important;
        text-decoration: none;
        margin: 0px;
        display: flex;
        font-size: 16px;
        justify-content: space-between;
        padding: 7px 16px;
    }
    .accordion .card-header i::before {
        font-size: 13px;
    }
    .accordion .card-header h2 button:hover{
        color: black !important;
    }
    .accordion .card-header i{
        position: relative;
        top: unset;
        left: unset;
    }
    /* Details 2 */
    .details2_row{
        margin-top: 20px;
    }
    .details2_row .col{
        background: #ac333514;
        padding: 10px 15px;
        /* text-align: center; */
        border-radius: 1px; 
    }
    .details2_row .col .box-title{
        padding: 5px 0px;
        border-bottom: 1px solid #ac333559;
    }
    .details2_row .col .box-value{
        padding: 2px 0px;
        font-size: 25px;
        font-weight: 500;
    }
     

    /* Details 1 */
    .details1_row{
        margin-top: 40px;
    }
    .details1_row .logo-holder{
        background: #f8efef;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        margin: auto;
    }
    .logo-holder b{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 20px;
        height: fit-content;
        text-align: center;
        text-transform: uppercase;
        font-size: 50px;
    }
    .details1_row .header{}
    .details1_row .header h1{
        font-size: 43px;
        color: #ac3335;
    }
    .details1_row .header p{
        font-size: 14px;
        color: gray;
    }

    
</style>