<template>
    <div>
        <navs></navs>
        <section class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-content">
                            <h2 class="breadcrumb__title">contact us.</h2>
                            <ul class="breadcrumb__list">
                                <li class="active__list-item"><a href="index.html">home</a></li>
                                <li class="active__list-item">pages</li>
                                <li>contact us</li>
                            </ul>
                        </div><!-- end breadcrumb-content -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <section class="contact-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="sec-heading">
                            <p class="sec__meta">get in touch with us</p>
                            <h2 class="sec__title">Do You Have Any Question? Write Us a Message.</h2>
                            <p class="sec__desc">
                                Lorem ipsum is simply free text dolor sit amett quie
                                adipiscing elit. When an unknown printer took a galley.
                                quiaies lipsum dolor sit atur adip scing
                            </p>
                        </div><!-- end sec-heading -->
                        <ul class="social-profile">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div><!-- end col-lg-5 -->
                    <div class="col-lg-7">
                        <div class="contact-form-action">
                            <form method="post">
                                <div class="row">
                                    <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="label-text">
                                            your name <span class="span-star-color">*</span>
                                        </label>
                                        <input class="form-control" type="text" name="name" placeholder="Full Name">
                                    </div>
                                    </div><!-- end col-lg-12 -->
                                    <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="label-text">
                                            Your email <span class="span-star-color">*</span>
                                        </label>
                                        <input class="form-control" type="email" name="email" placeholder="Email Address">
                                    </div>
                                    </div><!-- end col-lg-12 -->
                                    <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="label-text">
                                            your number <span class="span-star-color">*</span>
                                        </label>
                                        <input class="form-control" type="text" name="phone" placeholder="Your Phone">
                                    </div>
                                    </div><!-- end col-lg-12 -->
                                    <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="label-text">
                                            subject <span class="span-star-color">*</span>
                                        </label>
                                        <input class="form-control" type="text" name="subject" placeholder="Subject">
                                    </div>
                                    </div><!-- end col-lg-12 -->
                                    <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="label-text">
                                            your message <span class="span-star-color">*</span>
                                        </label>
                                        <textarea class="message-control form-control" name="message" placeholder="Write Message"></textarea>
                                    </div>
                                    </div><!-- end col-lg-12 -->
                                    <div class="col-lg-12">
                                        <button class="theme-button" type="submit">
                                            Send us Message <i class="fa fa-angle-right btn-icon"></i>
                                        </button>
                                    </div><!-- end col-lg-12 -->
                                </div><!-- end row -->
                            </form>
                        </div><!-- end contact-form-action -->
                    </div><!-- end col-lg-7 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <!--========= start google map ===========-->
        <div class="gmaps">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div id="map"></div>
                    </div><!-- end col-lg-8 -->
                    <div class="col-lg-4">
                        <div class="map-address-box">
                            <h3 class="map__title">Our Office</h3>
                            <img src="./../../assets/images/img1.jpg" alt="office image">
                            <ul class="map-address">
                                <li>
                                    <p class="map__desc map__desc2">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit. Adipisci culpa dolorum explicabo id
                                        incidunt iure
                                    </p>
                                </li>
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <h5 class="map__title">address.</h5>
                                    <p class="map__desc">
                                        Melbourne, Australia, 105 South <br> Park Avenue
                                    </p>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <h5 class="map__title">phone.</h5>
                                    <p class="map__desc">Local: 2800 256 508</p>
                                    <p class="map__desc">Local: 666 777 888</p>
                                </li>
                                <li>
                                    <i class="fa fa-envelope"></i>
                                    <h5 class="map__title">email.</h5>
                                    <p class="map__desc">needhelp@minzel.com</p>
                                    <p class="map__desc">inquiry@minzel.com</p>
                                </li>
                            </ul>
                            <div class="map-btn-box">
                                <a href="#" class="theme-button">
                                    contact with us <i class="fa fa-angle-right btn-icon"></i>
                                </a>
                            </div><!-- end map-btn-box -->
                        </div><!-- end map-address-box -->
                    </div><!-- end col-lg-4 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div>
        
        <footers></footers>
    </div>
</template>
<script>
export default {
    
}
</script>
<style scoped>

</style>