<template>
    <div>
        <navs></navs>

        <section class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-content">
                            <h2 class="breadcrumb__title">recover password.</h2>
                            <ul class="breadcrumb__list">
                                <li class="active__list-item"><router-link to="/">home</router-link></li>
                                <li class="active__list-item">pages</li>
                                <li>recover password</li>
                            </ul>
                        </div><!-- end breadcrumb-content -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
            </div>
        </section>


        <section class="form-shared">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="contact-form-action">
                            <div class="form-heading">
                                <h3 class="form__title">Reset Password!</h3>
                                <p class="form__desc reset__desc">
                                    Enter the email of your account to reset password.
                                    Then you will receive a link to email to reset the password.If
                                    you have any issue about reset password
                                    <router-link to="/contact">contact us</router-link>
                                </p>
                            </div>
                            <form method="post" @submit.prevent="sendMail()">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input class="form-control" type="email" name="email" placeholder="Enter email address" v-model="user.email">
                                        </div>
                                    </div><!-- end col-lg-12 -->
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <button class="theme-button reset__btn" type="submit">
                                                <loader v-if="loading" color="white"></loader>
                                                <span v-else style="color:white">Send Mail </span>
                                            </button>
                                        </div>
                                    </div><!-- end col-lg-12 -->
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <notification></notification>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="account-assist">
                                            <p class="account__desc">
                                                <router-link to="/login">Login</router-link>
                                            </p>
                                        </div>
                                        </div><!-- end col-lg-12 -->
                                        <div class="col-lg-6">
                                            <div class="account-assist">
                                                <p class="account__desc text-right">
                                                    Not a member?<router-link to="/register"> Register</router-link>
                                                </p>
                                            </div>
                                        </div><!-- end col-lg-12 -->
                                    </div><!-- end row -->
                            </form>
                        </div><!-- end contact-form -->
                    </div><!-- end col-lg-7 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <footers></footers>
    </div>
</template>

<script>
export default {
    data(){
        return{
            user:{
                email:'',
            },
            loading:false,
        }
    },
    methods:{
        sendMail(){
            if(this.user.email.length == 0 ){
                this.$store.commit('setNotification',{type:2,msg:'Email is required'});
                return false;
            }

            if(this.loading){
                return false;
            } 
            this.loading=true;
            this.$store.commit('setNotification',{type:0,msg:''});
            this.$store.dispatch('post',{
                details:this.user,
                endpoint:'forget-password'
            })
            .then((data)=>{
                console.log(data);
                if(data.data.status){
                    this.$store.commit('setNotification',{type:1,msg:'Reset password link has been sent to your email.'});
                }else{
                    this.$store.commit('setNotification',{type:2,msg:data.data.msg});
                }
                this.loading=false; 
            })
            .catch((error)=>{
                console.log(error.request);
                if(error.request != null){
                    this.$store.dispatch("handleError",error); 
                }
                this.loading=false;
            });
        },
    }
}
</script>
<style scoped>

</style>