<template>
    <div>
        <navs></navs>

        <section class="slider-area">
            <div class="slider-fluid">
                <div class="revo-slider">
                    <div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery">
                        <!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->
                        <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" data-version="5.4.1">
                            <ul>
                                <!-- SLIDE 1  -->
                                <li data-index="rs-3045" data-transition="boxfade" data-slotamount="default"
                                    data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                    <!-- MAIN IMAGE -->
                                    <img src="./../../assets/images/slider-img1.jpg"  alt=""  data-bgposition="center center"
                                        data-bgfit="cover"
                                        data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                                    <!-- LAYERS -->

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption tp-resizeme"
                                        id="slide-3045-layer-1"
                                        data-x="['left','left','left','left']"
                                        data-hoffset="['15', '15', '15', '15']"
                                        data-y="['center','center','center','center']"
                                        data-voffset="['-40','-30','-10','20']"
                                        data-width="none"
                                        data-height="none"
                                        data-whitespace="nowrap"
                                        data-type="text"
                                        data-responsive_offset="on"
                                        data-frames='[{"delay":0,"split":"chars","splitdelay":0.05,"speed":2000,"frame":"0","from":"y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                                        data-textAlign="['left','left','left','left']"
                                        data-paddingtop="[0,0,0,0]"
                                        data-paddingright="[0,0,0,0]"
                                        data-paddingbottom="[0,0,0,0]"
                                        data-paddingleft="[0,0,0,0]">
                                        <h2 class="sec__title">We Help People to Run <br> Successful
                                            Business.</h2>
                                    </div><!-- end tp-caption -->

                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption tp-resizeme"
                                        id="slide-3045-layer-2"
                                        data-x="['left','left','left','left']"
                                        data-hoffset="['15', '15', '15', '15']"
                                        data-y="['center','center','center','center']"
                                        data-voffset="['86','86','105','110']"
                                        data-width="none"
                                        data-height="none"
                                        data-whitespace="nowrap"
                                        data-type="text"
                                        data-responsive_offset="on"
                                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];","speed":2000,"to":"o:1;","delay":2000,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
                                        data-textAlign="['inherit','inherit','inherit','inherit']"
                                        data-paddingtop="[0,0,0,0]"
                                        data-paddingright="[0,0,0,0]"
                                        data-paddingbottom="[0,0,0,0]"
                                        data-paddingleft="[0,0,0,0]">
                                        <p class="sec__desc">
                                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem <br>
                                            veritatis et quasi architecto beatae vitae dicta.
                                        </p>
                                    </div><!-- end tp-caption -->

                                    <!-- LAYER NR. 3 -->
                                    <div class="tp-caption tp-resizeme"
                                        id="slide-3045-layer-3"
                                        data-x="['left','left','left','left']"
                                        data-hoffset="['15', '15', '15', '15']"
                                        data-y="['center','center','center','center']"
                                        data-voffset="['180','180','200','195']"
                                        data-width="none"
                                        data-height="none"
                                        data-whitespace="nowrap"
                                        data-type="text"
                                        data-responsive_offset="on"
                                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":3020,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                        data-textAlign="['inherit','inherit','inherit','inherit']"
                                        data-paddingtop="[0,0,0,0]"
                                        data-paddingright="[0,0,0,0]"
                                        data-paddingbottom="[0,0,0,0]"
                                        data-paddingleft="[0,0,0,0]">
                                        <div class="btn-box">
                                            <a href="#" class="theme-button">
                                                Let's Start Now <i class="fa fa-angle-right btn-icon"></i>
                                            </a>
                                            <a href="#" class="theme-button">
                                                Learn More <i class="fa fa-angle-right btn-icon"></i>
                                            </a>
                                        </div>
                                    </div><!-- end tp-caption -->
                                </li>
                                <!-- SLIDE 2 -->
                                <li data-index="rs-3046" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                                    data-hideslideonmobile="off"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500"  data-rotate="0"  data-saveperformance="off"  data-title="Parallax" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                    <!-- MAIN IMAGE -->
                                    <img src="./../../assets/images/slider-img2.jpg"  alt=""  data-bgposition="center center"
                                        data-bgfit="cover"
                                        data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                                    <!-- LAYERS -->

                                    <!-- LAYER NR. 4 -->
                                    <div class="tp-caption  tp-resizeme rs-parallaxlevel-3"
                                        id="slide-3046-layer-1"
                                        data-x="['left','left','left','left']"
                                        data-hoffset="['15', '15', '15', '15']"
                                        data-y="['center','center','center','center']"
                                        data-voffset="['-40','-30','-10','20']"
                                        data-width="none"
                                        data-height="none"
                                        data-whitespace="nowrap"
                                        data-type="text"
                                        data-responsive_offset="on"
                                        data-frames='[{"delay":820,"split":"chars","splitdelay":0.05,"speed":2000,"frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                                        data-textAlign="['left','left','left','left']"
                                        data-paddingtop="[0,0,0,0]"
                                        data-paddingright="[0,0,0,0]"
                                        data-paddingbottom="[0,0,0,0]"
                                        data-paddingleft="[0,0,0,0]">
                                        <h2 class="sec__title" style="color:white">We Take Extra Care of <br>
                                            Your Business.</h2>
                                    </div><!-- end tp-caption -->

                                    <!-- LAYER NR. 5 -->
                                    <div class="tp-caption tp-resizeme rs-parallaxlevel-2"
                                        id="slide-3046-layer-2"
                                        data-x="['left','left','left','left']"
                                        data-hoffset="['15', '15', '15', '15']"
                                        data-y="['center','center','center','center']"
                                        data-voffset="['86','86','105','110']"
                                        data-width="none"
                                        data-height="none"
                                        data-whitespace="nowrap"
                                        data-type="text"
                                        data-responsive_offset="on"
                                        data-frames='[{"delay":2650,"speed":1500,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                        data-textAlign="['left','left','left','left']"
                                        data-paddingtop="[0,0,0,0]"
                                        data-paddingright="[0,0,0,0]"
                                        data-paddingbottom="[0,0,0,0]"
                                        data-paddingleft="[0,0,0,0]">
                                        <p class="sec__desc">
                                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem <br>
                                            veritatis et quasi architecto beatae vitae dicta.
                                        </p>
                                    </div><!-- end tp-caption -->

                                    <!-- LAYER NR. 6 -->
                                    <div class="tp-caption tp-resizeme rs-parallaxlevel-1"
                                        id="slide-3046-layer-3"
                                        data-x="['left','left','left','left']"
                                        data-hoffset="['15', '15', '15', '15']"
                                        data-y="['center','center','center','center']"
                                        data-voffset="['180','180','200','195']"
                                        data-width="none"
                                        data-height="none"
                                        data-whitespace="nowrap"
                                        data-type="text"
                                        data-responsive_offset="on"
                                        data-frames='[{"delay":3020,"speed":1900,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                                        data-textAlign="['inherit','inherit','inherit','inherit']"
                                        data-paddingtop="[0,0,0,0]"
                                        data-paddingright="[0,0,0,0]"
                                        data-paddingbottom="[0,0,0,0]"
                                        data-paddingleft="[0,0,0,0]">
                                        <div class="btn-box">
                                            <a href="#" class="theme-button">
                                                Get Started <i class="fa fa-angle-right btn-icon"></i>
                                            </a>
                                            <a href="#" class="theme-button">
                                                Learn More <i class="fa fa-angle-right btn-icon"></i>
                                            </a>
                                        </div>
                                    </div><!-- end tp-caption -->
                                </li>
                                <!-- SLIDE 3 -->
                                <li class="revo-slider-inner" data-index="rs-3047" data-transition="boxfade"
                                    data-slotamount="default"
                                    data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                    <!-- MAIN IMAGE -->
                                    <img src="./../../assets/images/slider-img3.jpg"  alt=""  data-bgposition="center center"
                                        data-bgfit="cover"
                                        data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                                    <!-- LAYERS -->

                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption tp-resizeme"
                                        id="slide-3047-layer-1"
                                        data-x="['center','center','center','center']"
                                        data-hoffset="['0','0','0','0']"
                                        data-y="['center','center','center','center']"
                                        data-voffset="['-40','-30','-10','20']"
                                        data-width="none"
                                        data-height="none"
                                        data-whitespace="nowrap"
                                        data-fontsize="['30','30','30','30']"
                                        data-type="text"
                                        data-responsive_offset="on"

                                        data-frames='[{"delay":410,"speed":800,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+4430","speed":800,"frame":"999","to":"x:-50px;opacity:0;","ease":"Power3.easeInOut"}]'
                                        data-textAlign="['inherit','inherit','inherit','inherit']"
                                        data-paddingtop="[0,0,0,0]"
                                        data-paddingright="[0,0,0,0]"
                                        data-paddingbottom="[0,0,0,0]"
                                        data-paddingleft="[0,0,0,0]">
                                        <h2 class="sec__title hero__title">
                                            Smart and effective
                                        </h2>
                                    </div><!-- end tp-caption -->

                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption tp-resizeme"
                                        id="slide-3047-layer-2"
                                        data-x="['center','center','center','center']"
                                        data-hoffset="['0','0','0','0']"
                                        data-y="['middle','middle','middle','middle']"

                                        data-voffset="['35','35','50','60']"

                                        data-width="none"
                                        data-height="none"
                                        data-whitespace="nowrap"
                                        data-fontsize="['70','60','50','40']"
                                        data-lineheight="['80', '70', '62', '50']"
                                        data-type="text"
                                        data-responsive_offset="on"

                                        data-frames='[{"delay":860,"speed":800,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+3430","speed":800,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                                        data-textAlign="['inherit','inherit','inherit','inherit']"
                                        data-paddingtop="[0,0,0,0]"
                                        data-paddingright="[0,0,0,0]"
                                        data-paddingbottom="[0,0,0,0]"
                                        data-paddingleft="[0,0,0,0]">
                                        <h2 class="sec__title">
                                            Solutions for Business.
                                        </h2>
                                    </div><!-- end tp-caption -->
                                    <div class="tp-caption  tp-resizeme"
                                        id="slide-47-layer-3"
                                        data-x="['center','center','center','center']"
                                        data-y="['center','center','center','center']"
                                        data-hoffset="['0','0','0','0']"
                                        data-voffset="['134','134','134','125']"
                                        data-width="auto"
                                        data-height="auto"
                                        data-whitespace="nowrap"

                                        data-type="text"
                                        data-responsive_offset="on"

                                        data-fontsize="['20', '20', '18', '16']"
                                        data-lineheight="['36', '36', '24', '22']"

                                        data-frames='[{"delay":1270,"speed":800,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+2730","speed":800,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                                        data-margintop="[30,30,30,30]"
                                        data-marginright="[0,0,0,0]"
                                        data-marginbottom="[35,35,35,35]"
                                        data-marginleft="[0,0,0,0]"
                                        data-textAlign="['inherit','inherit','inherit','inherit']"
                                        data-paddingtop="[0,0,0,0]"
                                        data-paddingright="[0,0,0,0]"
                                        data-paddingbottom="[0,0,0,0]"
                                        data-paddingleft="[0,0,0,0]">
                                        <p class="sec__desc">
                                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem <br>
                                            veritatis et quasi architecto beatae vitae dicta.
                                        </p>
                                    </div>

                                <!-- LAYER NR. 4 -->
                                    <div class="tp-caption tp-resizeme"
                                        id="slide-3045-layer-4"
                                        data-x="['center','center','center','center']"
                                        data-hoffset=""
                                        data-y="['center','center','center','center']"
                                        data-voffset="['229','229','229','200']"
                                        data-width="none"
                                        data-height="none"
                                        data-whitespace="nowrap"
                                        data-type="text"
                                        data-responsive_offset="on"
                                        data-frames='[{"delay":1470,"speed":800,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+2940","speed":800,"frame":"999","to":"y:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                                        data-textAlign="['inherit','inherit','inherit','inherit']"
                                        data-paddingtop="[0,0,0,0]"
                                        data-paddingright="[0,0,0,0]"
                                        data-paddingbottom="[0,0,0,0]"
                                        data-paddingleft="[0,0,0,0]">
                                        <div class="btn-box">
                                            <a href="#" class="theme-button">
                                                Let's Start Now <i class="fa fa-angle-right btn-icon"></i>
                                            </a>
                                            <a href="#" class="theme-button">
                                                Learn More <i class="fa fa-angle-right btn-icon"></i>
                                            </a>
                                        </div>
                                    </div><!-- end tp-caption -->
                                </li>
                            </ul>
                        </div><!-- end fullwidthabanner -->
                    </div><!-- END REVOLUTION SLIDER -->
                </div><!-- home-slider -->
            </div><!-- end slider-fluid -->
        </section>

        <section class="cta-area cta-area2">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <div class="sec-heading">
                            <h2 class="sec__title mb-0">
                                We take care of your business and your website
                            </h2>
                        </div><!-- end sec-heading -->
                    </div><!-- end col-lg-8 -->
                    <div class="col-lg-4">
                        <div class="btn-box">
                            <a href="#" class="theme-button">start project <i class="fa fa-angle-right btn-icon"></i></a>
                        </div><!-- end btn-box -->
                    </div><!-- end col-lg-4 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <section class="feature-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="sec-heading">
                            <p class="sec__meta">our dedicated services</p>
                            <h2 class="sec__title">
                                We Offer Marketing and Consulting
                                Services for Businesses.
                            </h2>
                        </div><!-- end sec-heading -->
                    </div><!-- end col-lg-8 -->
                    <div class="col-lg-4">
                        <div class="service-button">
                            <a href="service.html" class="theme-button">
                                view all services<i class="fa fa-angle-right btn-icon"></i>
                            </a>
                        </div><!-- end service-button -->
                    </div><!-- end col-lg-4 -->
                </div><!-- end row -->
                <div class="row feature-box">
                    <div class="col-lg-4">
                        <div class="info-item">
                            <span class="info__number">01</span>
                            <span class="flaticon-003-target info__icon"></span>
                            <h3 class="info__title">
                                <a href="service-detail.html">finance management.</a>
                            </h3>
                            <p class="info__desc">
                                sed quia lipsum dolor sit atur adipiscing elit is nunc quis
                                tellus sed ligula porta ultricies quis nec neulla.
                            </p>
                        </div><!-- end info-item -->
                    </div><!-- end col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="info-item">
                            <span class="info__number">02</span>
                            <span class="flaticon-043-bank info__icon"></span>
                            <h3 class="info__title">
                                <a href="service-detail.html">banking investigation.</a>
                            </h3>
                            <p class="info__desc">
                                sed quia lipsum dolor sit atur adipiscing elit is nunc quis
                                tellus sed ligula porta ultricies quis nec neulla.
                            </p>
                        </div><!-- end info-item -->
                    </div><!-- end col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="info-item">
                            <span class="info__number">03</span>
                            <span class="flaticon-001-time-is-money info__icon"></span>
                            <h3 class="info__title">
                                <a href="service-detail.html">business insurance.</a>
                            </h3>
                            <p class="info__desc">
                                sed quia lipsum dolor sit atur adipiscing elit is nunc quis
                                tellus sed ligula porta ultricies quis nec neulla.
                            </p>
                        </div><!-- end info-item -->
                    </div><!-- end col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="info-item">
                            <span class="info__number">04</span>
                            <span class="flaticon-009-search info__icon"></span>
                            <h3 class="info__title">
                                <a href="service-detail.html">market research.</a>
                            </h3>
                            <p class="info__desc">
                                sed quia lipsum dolor sit atur adipiscing elit is nunc quis
                                tellus sed ligula porta ultricies quis nec neulla.
                            </p>
                        </div><!-- end info-item -->
                    </div><!-- end col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="info-item">
                            <span class="info__number">05</span>
                            <span class="flaticon-012-safebox info__icon"></span>
                            <h3 class="info__title">
                                <a href="service-detail.html">strong business</a>
                            </h3>
                            <p class="info__desc">
                                sed quia lipsum dolor sit atur adipiscing elit is nunc quis
                                tellus sed ligula porta ultricies quis nec neulla.
                            </p>
                        </div><!-- end info-item -->
                    </div><!-- end col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="info-item">
                            <span class="info__number">06</span>
                            <span class="flaticon-017-monitor info__icon"></span>
                            <h3 class="info__title">
                                <a href="service-detail.html">large markets</a>
                            </h3>
                            <p class="info__desc">
                                sed quia lipsum dolor sit atur adipiscing elit is nunc quis
                                tellus sed ligula porta ultricies quis nec neulla.
                            </p>
                        </div><!-- end info-item -->
                    </div><!-- end col-lg-4 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <section class="divider">
            <span class="divider__dot"></span>
            <span class="divider__dot"></span>
            <span class="divider__dot"></span>
        </section>

        <section class="timeline-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="timeline-list">
                            <div class="happening row">
                                <div class="col-lg-6">
                                    <div class="happening-content">
                                        <div class="sec-heading">
                                            <h3 class="sec__title">
                                                We Are Trusted by More Than
                                                <span class="colored-text">19,700 Clients.</span>
                                            </h3>
                                            <p class="sec__desc">
                                                There are many variations of passages of Lorem Ipsum available,
                                                but the majority have suffered alteration in some form, by injected humour,
                                                or randomised words which don't look even slightly believable.
                                                If you are going to use a passage of Lorem Ipsum,
                                            </p>
                                        </div>
                                        <a href="#" class="theme-button">
                                            join now <i class="fa fa-angle-right btn-icon"></i>
                                        </a>
                                    </div>
                                </div><!-- end col-lg-6 -->
                                <div class="col-lg-6">
                                    <div class="happening-period trusted-img">
                                        <img src="./../../assets/images/img1.jpg" alt="" class="happeing__img">
                                        <div class="video-box">
                                            <a class="mfp-iframe video-play-btn" href="https://www.youtube.com/watch?v=A_6uV9A12ok" title="Play Video">
                                                <i class="fa fa-play"></i>
                                            </a>
                                            <p>Watch Video</p>
                                        </div>
                                    </div>
                                </div><!-- end col-lg-6 -->
                            </div><!-- end row -->
                            <div class="happening happening2 row">
                                <div class="col-lg-8">
                                    <div class="happening-period">
                                        <img src="./../../assets/images/img2.jpg" alt="" class="happeing__img">
                                    </div>
                                </div><!-- end col-lg-8 -->
                                <div class="happening-content happening-content2">
                                    <div class="sec-heading">
                                        <h3 class="sec__title">
                                            More Than <span class="colored-text"> 300 Projects</span> Were Completed.</h3>
                                        <p class="sec__desc">
                                            There are many variations of passages of Lorem Ipsum available,
                                            but the majority have suffered alteration in some form, by injected humour,
                                        </p>
                                    </div>
                                    <a href="#" class="theme-button">
                                        get started <i class="fa fa-angle-right btn-icon"></i>
                                    </a>
                                </div><!-- end happening__desc -->
                            </div><!-- end row -->
                        </div><!-- end timeline-list -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <section class="divider">
            <span class="divider__dot"></span>
            <span class="divider__dot"></span>
            <span class="divider__dot"></span>
        </section>

        <section class="about-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-item">
                            <div class="sec-heading">
                                <p class="sec__meta">learn about us</p>
                                <h2 class="sec__title">Welcome to Awards Winning Digital Marketing Agency.</h2>
                                <p class="sec__desc mb-3">
                                    Investiga tiones demonstr averunt lectores legere me lius quod ii qua
                                    legunt saepius. Claritas est etiam pro cessus dynamicus, qui
                                    sequitur mutaety tion em consu etudium awquod he legunt
                                    saepius clary tyitas Investig atifonesw. tionem consu etudium.
                                </p>
                                <a href="about.html" class="text-btn">
                                    read more <i class="fa fa-angle-right"></i>
                                </a>
                            </div><!-- end sec-heading -->
                            <div class="about-content">
                                <div class="row aboutsupport-wrap">
                                    <div class="col-lg-4">
                                        <div class="aboutsupport-item">
                                            <span class="flaticon-014-lecture aboutsupport__icon"></span>
                                            <h3 class="aboutsupport__title">24/7 full Online Support</h3>
                                        </div><!-- end aboutsupport-item -->
                                    </div><!-- end col-lg-4 -->
                                    <div class="col-lg-4">
                                        <div class="aboutsupport-item">
                                            <span class="flaticon-002-target-1 aboutsupport__icon"></span>
                                            <h3 class="aboutsupport__title">10 Years of Experience</h3>
                                        </div><!-- end aboutsupport-item-->
                                    </div><!-- end col-lg-4 -->
                                    <div class="col-lg-4">
                                        <div class="aboutsupport-item">
                                            <span class="flaticon-026-idea aboutsupport__icon"></span>
                                            <h3 class="aboutsupport__title">Creative Finance Idea</h3>
                                        </div><!-- end aboutsupport-item -->
                                    </div><!-- end col-lg-4 -->
                                </div><!-- end row -->
                                <div class="progress-bar-content">
                                    <div class="skillbar clearfix " data-percent="90%">
                                        <div class="skillbar-title"><span>Finance.</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">90%</div>
                                    </div> <!-- End Skill Bar -->
                                    <div class="skillbar clearfix " data-percent="85%">
                                        <div class="skillbar-title"><span>Business.</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">85%</div>
                                    </div> <!-- End Skill Bar -->
                                    <div class="skillbar skillbar3 clearfix " data-percent="80%">
                                        <div class="skillbar-title"><span>Investment.</span></div>
                                        <div class="skillbar-bar"></div>
                                        <div class="skill-bar-percent">80%</div>
                                    </div> <!-- End Skill Bar -->
                                </div><!-- end progress-bar -->
                            </div><!-- end about-content -->
                        </div><!-- end about-item -->
                    </div><!-- end col-lg-6 -->
                    <div class="col-lg-5 ml-auto">
                        <div class="image-boxes">
                            <img src="./../../assets/images/about-img.jpg" alt="about us" class="about-img">
                            <img src="./../../assets/images/about-img2.jpg" alt="about us" class="about-img">
                            <img src="./../../assets/images/about-img3.jpg" alt="about us" class="about-img">
                            <a class="mfp-iframe video-play-btn" href="https://www.youtube.com/watch?v=9No-FiEInLA" title="Play Video">
                                <span>play</span>
                            </a>
                        </div>
                    </div><!-- end col-lg-5 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <section class="howitworks-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                    <div class="sec-heading ">
                        <p class="sec__meta">our best features</p>
                        <h2 class="sec__title">Why Choose Us.</h2>
                    </div><!-- end sec-heading -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
                <div class="row hiw-content">
                    <div class="col-lg-12">
                        <div class="tab-content-shared">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs justify-content-center" role="tablist">
                                <li role="presentation">
                                    <a href="#tab1" class="active" role="tab" data-toggle="tab">expert team</a>
                                </li>
                                <li role="presentation">
                                    <a href="#tab2"  role="tab" data-toggle="tab">best finance brand</a>
                                </li>
                                <li role="presentation">
                                    <a href="#tab3"  role="tab" data-toggle="tab">best leadership ideas</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="tab1">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <img src="./../../assets/images/about-img4.jpg" alt="team image" class="tab-img tab-img1">
                                        </div><!-- end col-lg-6 -->
                                        <div class="col-lg-6">
                                            <div class="tab-desc-box">
                                                <p class="tab__desc">
                                                    There are many variations of passages of Lorem Ipsum available,
                                                    but the majority have suffered alteration in some form, by injected humour,
                                                    or randomised words which don't look even slightly believable.
                                                    If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                                                    embarrassing hidden in the middle of text. All the Lorem Ipsum generators
                                                    on the Internet
                                                </p>
                                                <a href="#" class="theme-button">
                                                    get started <i class="fa fa-angle-right btn-icon"></i>
                                                </a>
                                            </div><!-- end tab-desc-box -->
                                        </div><!-- end col-lg-6 -->
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab2">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="tab-desc-box tab-desc-box2">
                                                <p class="tab__desc">
                                                    There are many variations of passages of Lorem Ipsum available,
                                                    but the majority have suffered alteration in some form, by injected humour,
                                                    or randomised words which don't look even slightly believable.
                                                    If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                                                    embarrassing hidden in the middle of text. All the Lorem Ipsum generators
                                                    on the Internet
                                                </p>
                                                <a href="#" class="theme-button">
                                                    get started <i class="fa fa-angle-right btn-icon"></i>
                                                </a>
                                            </div><!-- end tab-desc-box -->
                                        </div><!-- end col-lg-6 -->
                                        <div class="col-lg-6">
                                            <img src="./../../assets/images/about-img5.jpg" alt="team image" class="tab-img tab-img2">
                                        </div><!-- end col-lg-6 -->
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab3">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <img src="./../../assets/images/about-img6.jpg" alt="team image" class="tab-img tab-img3">
                                        </div><!-- end col-lg-6 -->
                                        <div class="col-lg-6">
                                            <div class="tab-desc-box">
                                                <p class="tab__desc">
                                                    There are many variations of passages of Lorem Ipsum available,
                                                    but the majority have suffered alteration in some form, by injected humour,
                                                    or randomised words which don't look even slightly believable.
                                                    If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                                                    embarrassing hidden in the middle of text. All the Lorem Ipsum generators
                                                    on the Internet
                                                </p>
                                                <a href="#" class="theme-button">
                                                    get started <i class="fa fa-angle-right btn-icon"></i>
                                                </a>
                                            </div><!-- end tab-desc-box -->
                                        </div><!-- end col-lg-6 -->
                                    </div>
                                </div>
                            </div><!-- end tab-content -->
                        </div><!-- end tab-content-shared -->
                    </div><!-- end col-lg-12  -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <section class="funfact-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sec-heading">
                            <p class="sec__meta">see what our</p>
                            <h2 class="sec__title text-white">Numbers Speak.</h2>
                        </div><!-- end sec-heading -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
                <div class="row">
                    <div class="col-lg-3 funfact-item">
                        <div class="funfact-shared">
                            <div class="funfact-icon">
                                <i class="flaticon-050-advertising funfact__icon"></i>
                            </div>
                            <span class="funfact__number counter">1300</span>
                            <span class="funtact__plus">+</span>
                            <p class="funfact__meta">Finishing Projects</p>
                        </div><!-- end funfact-shared -->
                    </div><!-- end col-lg-3 -->
                    <div class="col-lg-3 funfact-item">
                        <div class="funfact-shared">
                            <div class="funfact-icon">
                                <i class="flaticon-018-network funfact__icon"></i>
                            </div>
                            <span class="funfact__number counter">195</span>
                            <span class="funtact__plus">+</span>
                            <p class="funfact__meta">team members</p>
                        </div><!-- end funfact-shared -->
                    </div><!-- end col-lg-3 -->
                    <div class="col-lg-3 funfact-item">
                        <div class="funfact-shared">
                            <div class="funfact-icon">
                                <i class="flaticon-029-deal funfact__icon"></i>
                            </div>
                            <span class="funfact__number counter">750</span>
                            <span class="funtact__plus">+</span>
                            <p class="funfact__meta">lovely clients</p>
                        </div><!-- end funfact-shared -->
                    </div><!-- end col-lg-3 -->
                    <div class="col-lg-3 funfact-item">
                        <div class="funfact-shared">
                            <div class="funfact-icon">
                                <i class="flaticon-002-target-1 funfact__icon"></i>
                            </div>
                            <span class="funfact__number counter">30</span>
                            <span class="funtact__plus">+</span>
                            <p class="funfact__meta">years of experience</p>
                        </div><!-- end funfact-shared -->
                    </div><!-- end col-lg-3 -->
                </div><!-- end row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="fun-get-text">
                            <p class="cta-titles">
                                Do not hesitate, to contact with us for better help and services.
                                <router-link to="/contact" class="theme-button">
                                    Let's Start Now <i class="fa fa-angle-right btn-icon"></i>
                                </router-link>
                            </p>
                        </div><!-- end fun-get-text -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <section class="blog-area case-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sec-heading text-center">
                            <p class="sec__meta">get to know</p>
                            <h2 class="sec__title">Case Studies.</h2>
                        </div><!-- end sec-heading -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
                <div class="row blog-post-wrapper">
                    <div class="col-lg-4">
                        <div class="blog-post-item">
                            <div class="blog-post-img">
                                <a href="single-case-study.html">
                                    <img src="./../../assets/images/img3.jpg" alt="blog image" class="blog__img">
                                </a>
                            </div><!-- end blog-post-img -->
                            <div class="blog-post-body">
                                <span class="case__meta">business strategy</span>
                                <a href="single-case-study.html" class="blog__title">
                                    Logistics and Transportation
                                </a>
                                <p class="blog__desc">
                                    Sed ut perspiciatis unde omnis iste natus error sit
                                    voluptatem eaque ipsa quae
                                </p>
                                <a href="single-case-study.html" class="theme-button">
                                    see details <i class="fa fa-angle-right btn-icon"></i>
                                </a>
                            </div><!-- end blog-post-body -->
                        </div><!-- end blog-post-item -->
                    </div><!-- end col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="blog-post-item">
                            <div class="blog-post-img">
                                <a href="single-case-study.html">
                                    <img src="./../../assets/images/img4.jpg" alt="blog image" class="blog__img">
                                </a>
                            </div><!-- end blog-post-img -->
                            <div class="blog-post-body">
                                <span class="case__meta">Financial Services</span>
                                <a href="single-case-study.html" class="blog__title">
                                    Insurance and Finance
                                </a>
                                <p class="blog__desc">
                                    Sed ut perspiciatis unde omnis iste natus error sit
                                    voluptatem eaque ipsa quae
                                </p>
                                <a href="single-case-study.html" class="theme-button">
                                    see details <i class="fa fa-angle-right btn-icon"></i>
                                </a>
                            </div><!-- end blog-post-body -->
                        </div><!-- end blog-post-item -->
                    </div><!-- end col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="blog-post-item">
                            <div class="blog-post-img">
                                <a href="single-case-study.html">
                                    <img src="./../../assets/images/img5.jpg" alt="blog image" class="blog__img">
                                </a>
                            </div><!-- end blog-post-img -->
                            <div class="blog-post-body">
                                <span class="case__meta">Environment</span>
                                <a href="single-case-study.html" class="blog__title">
                                    Construction and Environment
                                </a>
                                <p class="blog__desc">
                                    Sed ut perspiciatis unde omnis iste natus error sit
                                    voluptatem eaque ipsa quae
                                </p>
                                <a href="single-case-study.html" class="theme-button">
                                    see details <i class="fa fa-angle-right btn-icon"></i>
                                </a>
                            </div><!-- end blog-post-body -->
                        </div><!-- end blog-post-item -->
                    </div><!-- end col-lg-4 -->
                </div><!-- end row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="button-shared mt-3 text-center">
                            <a href="case-studies.html" class="theme-button">see all cases <i class="fa fa-angle-right btn-icon"></i></a>
                        </div><!-- end button-shared -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <section class="cta-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <div class="sec-heading">
                            <h2 class="sec__title text-white mb-0">
                                Running Year <span class="colored-text">55 Company</span>
                                Started They are Business With Us.
                            </h2>
                        </div><!-- end sec-heading -->
                    </div><!-- end col-lg-8 -->
                    <div class="col-lg-4">
                        <div class="btn-box">
                            <a href="#" class="theme-button">start project <i class="fa fa-angle-right btn-icon"></i></a>
                        </div><!-- end btn-box -->
                    </div><!-- end col-lg-4 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <section class="testimonial-area">
            <img src="./../../assets/images/testi-img1.jpg" alt="testtmonial-image" class="random-img">
            <img src="./../../assets/images/testi-img2.jpg" alt="testtmonial-image" class="random-img">
            <img src="./../../assets/images/testi-img3.jpg" alt="testtmonial-image" class="random-img">
            <img src="./../../assets/images/testi-img4.jpg" alt="testtmonial-image" class="random-img">
            <img src="./../../assets/images/testi-img5.jpg" alt="testtmonial-image" class="random-img">
            <img src="./../../assets/images/testi-img6.jpg" alt="testtmonial-image" class="random-img">
            <img src="./../../assets/images/testi-img7.jpg" alt="testtmonial-image" class="random-img">
            <img src="./../../assets/images/testi-img8.jpg" alt="testtmonial-image" class="random-img">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sec-heading text-center">
                            <p class="sec__meta">see what our customers</p>
                            <h2 class="sec__title">Said About Us.</h2>
                        </div><!-- end sec-heading -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="client-testimonial">
                            <div class="testimonial-item">
                                <div class="testi-desc-box">
                                    <p class="testi__desc">
                                        Enjoy the diversity of ThePin. Check this numerous demos, made for
                                        different purposes. Easy to import & highly customizable. All of the
                                        presented elements, layouts & styles can be theme.
                                    </p>
                                </div>
                                <div class="testi-author-box d-flex align-items-center">
                                    <div class="author-avatar">
                                        <img src="./../../assets/images/testi-img9.jpg" alt="testimonial image">
                                    </div>
                                    <div class="author-details">
                                        <h4 class="author__title">Denwel_evil</h4>
                                        <span class="author__meta">United States</span>
                                        <ul class="author__rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star-half-o"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- end testimonial-item -->
                            <div class="testimonial-item">
                                <div class="testi-desc-box">
                                    <p class="testi__desc">
                                        Enjoy the diversity of ThePin. Check this numerous demos, made for
                                        different purposes. Easy to import & highly customizable. All of the
                                        presented elements, layouts & styles can be theme.
                                    </p>
                                </div>
                                <div class="testi-author-box d-flex align-items-center">
                                    <div class="author-avatar">
                                        <img src="./../../assets/images/testi-img10.jpg" alt="testimonial image">
                                    </div>
                                    <div class="author-details">
                                        <h4 class="author__title">Shanewel_evil</h4>
                                        <span class="author__meta">United States</span>
                                        <ul class="author__rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- end testimonial-item -->
                            <div class="testimonial-item">
                                <div class="testi-desc-box">
                                    <p class="testi__desc">
                                        Enjoy the diversity of ThePin. Check this numerous demos, made for
                                        different purposes. Easy to import & highly customizable. All of the
                                        presented elements, layouts & styles can be theme.
                                    </p>
                                </div>
                                <div class="testi-author-box d-flex align-items-center">
                                    <div class="author-avatar">
                                        <img src="./../../assets/images/testi-img11.jpg" alt="testimonial image">
                                    </div>
                                    <div class="author-details">
                                        <h4 class="author__title">Amanda_evil</h4>
                                        <span class="author__meta">United States</span>
                                        <ul class="author__rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- end testimonial-item -->
                        </div><!-- end client-testimonial -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end testimonial-area -->

        <section class="divider">
            <span class="divider__dot"></span>
            <span class="divider__dot"></span>
            <span class="divider__dot"></span>
        </section>

        <section class="team-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sec-heading">
                            <p class="sec__meta">our dedicated team</p>
                            <h2 class="sec__title">Expert Team Members.</h2>
                        </div><!-- end sec-heading -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
                <div class="row team-experts-wrapper">
                    <div class="col-lg-4">
                        <div class="team-item">
                        <div class="team-img-box">
                            <img src="./../../assets/images/team-1.jpg" alt="team image" class="team__img">
                        </div>
                        <div class="team-content">
                            <h3 class="team__title">adam smith</h3>
                            <span class="team__meta">founder & CEO</span>
                            <ul class="team__social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                            </ul>
                            <div class="team-read-btn">
                                <a href="team-single.html" class="theme-button">
                                    read his story <i class="fa fa-angle-right btn-icon"></i>
                                </a>
                            </div><!-- end team-read-btn -->
                        </div><!-- end team-content -->
                        </div><!-- end team-item -->
                    </div><!-- end col-lg-3 -->
                    <div class="col-lg-4">
                        <div class="team-item">
                            <div class="team-img-box">
                                <img src="./../../assets/images/team-2.jpg" alt="team image" class="team__img">
                            </div>
                            <div class="team-content">
                                <h3 class="team__title">pam sharon</h3>
                                <span class="team__meta">co-Founder</span>
                                <ul class="team__social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                                </ul>
                                <div class="team-read-btn">
                                    <a href="team-single.html" class="theme-button">
                                        read his story <i class="fa fa-angle-right btn-icon"></i>
                                    </a>
                                </div><!-- end team-read-btn -->
                            </div><!-- end team-content -->
                        </div><!-- end team-item -->
                    </div><!-- end col-lg-3 -->
                    <div class="col-lg-4">
                        <div class="team-item">
                            <div class="team-img-box">
                                <img src="./../../assets/images/team-3.jpg" alt="team image" class="team__img">
                            </div>
                            <div class="team-content">
                                <h3 class="team__title">richard pam</h3>
                                <span class="team__meta">director</span>
                                <ul class="team__social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                                </ul>
                                <div class="team-read-btn">
                                    <a href="team-single.html" class="theme-button">
                                        read his story <i class="fa fa-angle-right btn-icon"></i>
                                    </a>
                                </div><!-- end team-read-btn -->
                            </div><!-- end team-content -->
                        </div><!-- end team-item -->
                    </div><!-- end col-lg-3 -->
                    <div class="col-lg-3">
                        <div class="team-item">
                            <div class="team-img-box">
                                <img src="./../../assets/images/team-4.jpg" alt="team image" class="team__img team__img4">
                            </div>
                            <div class="team-content">
                                <h3 class="team__title">marco hurt</h3>
                                <span class="team__meta">senior designer</span>
                                <ul class="team__social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                                </ul>
                                <div class="team-read-btn">
                                    <a href="team-single.html" class="theme-button">
                                        read his story <i class="fa fa-angle-right btn-icon"></i>
                                    </a>
                                </div><!-- end team-read-btn -->
                            </div><!-- end team-content -->
                        </div><!-- end team-item -->
                    </div><!-- end col-lg-3 -->
                    <div class="col-lg-3">
                        <div class="team-item">
                            <div class="team-img-box">
                                <img src="./../../assets/images/team-5.jpg" alt="team image" class="team__img team__img5">
                            </div>
                            <div class="team-content">
                                <h3 class="team__title">Smith wayve</h3>
                                <span class="team__meta">product designer</span>
                                <ul class="team__social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                                </ul>
                                <div class="team-read-btn">
                                    <a href="team-single.html" class="theme-button">
                                        read his story <i class="fa fa-angle-right btn-icon"></i>
                                    </a>
                                </div><!-- end team-read-btn -->
                            </div><!-- end team-content -->
                        </div><!-- end team-item -->
                    </div><!-- end col-lg-3 -->
                    <div class="col-lg-3">
                        <div class="team-item">
                            <div class="team-img-box">
                                <img src="./../../assets/images/team-6.jpg" alt="team image" class="team__img team__img6">
                            </div>
                            <div class="team-content">
                                <h3 class="team__title">stanle rum</h3>
                                <span class="team__meta">web developer</span>
                                <ul class="team__social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                                </ul>
                                <div class="team-read-btn">
                                    <a href="team-single.html" class="theme-button">
                                        read his story <i class="fa fa-angle-right btn-icon"></i>
                                    </a>
                                </div><!-- end team-read-btn -->
                            </div><!-- end team-content -->
                        </div><!-- end team-item -->
                    </div><!-- end col-lg-3 -->
                    <div class="col-lg-3">
                        <div class="team-item">
                            <div class="team-img-box">
                                <img src="./../../assets/images/team-7.jpg" alt="team image" class="team__img team__img7">
                            </div>
                            <div class="team-content">
                                <h3 class="team__title">domien doe</h3>
                                <span class="team__meta">junior designer</span>
                                <ul class="team__social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                                </ul>
                                <div class="team-read-btn">
                                    <a href="team-single.html" class="theme-button">
                                        read his story <i class="fa fa-angle-right btn-icon"></i>
                                    </a>
                                </div><!-- end team-read-btn -->
                            </div><!-- end team-content -->
                        </div><!-- end team-item -->
                    </div><!-- end col-lg-3 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>


        <section class="divider">
            <span class="divider__dot"></span>
            <span class="divider__dot"></span>
            <span class="divider__dot"></span>
        </section>


        <section class="chart-area">
            <div class="container">
                <div class="chart-wrapper">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="chart-item">
                                <div class="sec-heading">
                                    <p class="sec__meta">our growth</p>
                                    <h2 class="sec__title">Better Results.</h2>
                                    <h4 class="secsemi__title">Increase Sales</h4>
                                    <p class="sec__desc">
                                        Sed ut perspiciatis unde omnis iste natus error
                                        sit voluptatem eaque ipsa quae ab illo inventore
                                        sit amet, consectetur adipisicing elit. Sit, vitae.
                                    </p>
                                    <h4 class="secsemi__title">Real-Time Analytics</h4>
                                    <p class="sec__desc">
                                        Nullam sollicitudin nisl at nunc tempor pulvindolor sit amet,
                                        adipiscinar. Quisque gravida, tellus egett vehicula fel.
                                    </p>
                                    <a href="#" class="theme-button">
                                        learn more <i class="fa fa-angle-right btn-icon"></i>
                                    </a>
                                </div><!-- end sec-heading -->
                            </div><!-- end chart-item -->
                        </div><!-- end col-lg-6 -->
                        <div class="col-lg-6">
                            <canvas id="result-chart" height="195"></canvas>
                            <div class="line-legend">
                                <ul class="chart-legend">
                                    <li><span class="legend__one"></span>business</li>
                                    <li><span class="legend__two"></span>others</li>
                                </ul>
                            </div><!-- end line-legend -->
                        </div><!-- end col-lg-6 -->
                    </div><!-- end row -->
                </div><!-- end chart-wrapper -->
            </div><!-- end container -->
        </section>


        <section class="clientlogo-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="client-logo">
                            <div class="client-logo-item">
                                <img src="./../../assets/images/client1.png" alt="brand image">
                            </div><!-- end client-logo-item -->
                            <div class="client-logo-item">
                                <img src="./../../assets/images/client2.png" alt="brand image">
                            </div><!-- end client-logo-item -->
                            <div class="client-logo-item">
                                <img src="./../../assets/images/client3.png" alt="brand image">
                            </div><!-- end client-logo-item -->
                            <div class="client-logo-item">
                                <img src="./../../assets/images/client4.png" alt="brand image">
                            </div><!-- end client-logo-item -->
                            <div class="client-logo-item">
                                <img src="./../../assets/images/client5.png" alt="brand image">
                            </div><!-- end client-logo-item -->
                        </div><!-- end client-logo -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <section class="newsleller-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="sec-heading">
                            <h2 class="sec__title">Get Advice From Our Professionals.</h2>
                        </div><!-- end sec-heading -->
                    </div><!-- end col-lg-5 -->
                    <div class="col-lg-7">
                        <div class="contact-form-action">
                            <form method="post">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="name" placeholder="Name" required="">
                                        </div>
                                    </div><!-- end col-lg-12 -->
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="form-group">
                                            <input class="form-control" type="email" name="email" placeholder="Email" required="">
                                        </div>
                                    </div><!-- end col-lg-12 -->
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="subject" placeholder="Subject" required="">
                                        </div>
                                    </div><!-- end col-lg-12 -->
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="form-group">
                                            <button class="theme-button" type="submit">
                                                Send Us Message <i class="fa fa-angle-right btn-icon"></i>
                                            </button>
                                        </div>
                                    </div><!-- end col-lg-12 -->
                                </div><!-- end row -->
                            </form>
                        </div><!-- end contact-form-action -->
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <section class="divider">
            <span class="divider__dot"></span>
            <span class="divider__dot"></span>
            <span class="divider__dot"></span>
        </section>

        <section class="blog-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <div class="sec-heading">
                            <p class="sec__meta">some of our blog</p>
                            <h2 class="sec__title">Our Latest News.</h2>
                        </div><!-- end sec-heading -->
                    </div><!-- end col-lg-8 -->
                    <div class="col-lg-4">
                        <div class="blog-btn text-right">
                            <a href="blog-grid.html" class="theme-button">
                                view all posts<i class="fa fa-angle-right btn-icon"></i>
                            </a>
                        </div>
                    </div>
                </div><!-- end row -->
                <div class="row blog-post-wrapper">
                    <div class="col-lg-4">
                        <div class="blog-post-item">
                            <div class="blog-post-img">
                                <a href="blog-single.html">
                                    <img src="./../../assets/images/img7.jpg" alt="blog image" class="blog__img">
                                </a>
                                <div class="item-overlay">
                                    <a href="blog-single.html"><i class="fa fa-plus"></i></a>
                                </div>
                            </div><!-- end blog-post-img -->
                            <div class="blog-post-body">
                                <ul class="post__meta">
                                    <li>25 Dec, 2018</li>
                                    <li>By <a href="#">Techydevs</a></li>
                                </ul>
                                <a href="blog-single.html" class="blog__title">
                                    Main reasons to explan fast business builder
                                </a>
                                <p class="blog__desc">
                                    Sed ut perspiciatis unde omnis iste natus error sit
                                    voluptatem eaque ipsa quae
                                </p>
                                <ul class="post__bottom d-flex justify-content-between">
                                    <li>
                                        <a href="blog-single.html" class="text-btn">
                                            read more <i class="fa fa-angle-right btn-icon"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="blog__com">
                                            2 <i class="fa fa-commenting-o"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- end blog-post-body -->
                        </div><!-- end blog-post-item -->
                    </div><!-- end col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="blog-post-item">
                            <div class="blog-post-img">
                                <a href="blog-single.html">
                                    <img src="./../../assets/images/img8.jpg" alt="blog image" class="blog__img">
                                </a>
                                <div class="item-overlay">
                                    <a href="blog-single.html"><i class="fa fa-plus"></i></a>
                                </div>
                            </div><!-- end blog-post-img -->
                            <div class="blog-post-body">
                                <ul class="post__meta">
                                    <li>26 Dec, 2018</li>
                                    <li>by <a href="#">Techydevs</a></li>
                                </ul>
                                <a href="blog-single.html" class="blog__title">
                                    Strategy for Norway’s Pesion Fund Global
                                </a>
                                <p class="blog__desc">
                                    Sed ut perspiciatis unde omnis iste natus error sit
                                    voluptatem eaque ipsa quae
                                </p>
                                <ul class="post__bottom d-flex justify-content-between">
                                    <li>
                                        <a href="blog-single.html" class="text-btn">
                                            read more <i class="fa fa-angle-right btn-icon"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="blog__com">
                                            3 <i class="fa fa-commenting-o"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- end blog-post-body -->
                        </div><!-- end blog-post-item -->
                    </div><!-- end col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="blog-post-item">
                            <div class="blog-post-img">
                                <a href="blog-single.html">
                                    <img src="./../../assets/images/img9.jpg" alt="blog image" class="blog__img">
                                </a>
                                <div class="item-overlay">
                                    <a href="blog-single.html"><i class="fa fa-plus"></i></a>
                                </div>
                            </div><!-- end blog-post-img -->
                            <div class="blog-post-body">
                                <ul class="post__meta">
                                    <li>27 Dec, 2018</li>
                                    <li>by <a href="#">Techydevs</a></li>
                                </ul>
                                <a href="blog-single.html" class="blog__title">
                                    Business Structured are changed by Onevo
                                </a>
                                <p class="blog__desc">
                                    Sed ut perspiciatis unde omnis iste natus error sit
                                    voluptatem eaque ipsa quae
                                </p>
                                <ul class="post__bottom d-flex justify-content-between">
                                    <li>
                                        <a href="blog-single.html" class="text-btn">
                                            read more <i class="fa fa-angle-right btn-icon"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="blog__com">
                                            4 <i class="fa fa-commenting-o"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- end blog-post-body -->
                        </div><!-- end blog-post-item -->
                    </div><!-- end col-lg-4 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <footers></footers>
    </div>
</template>
<script>
export default {
    
}
</script>

<style scoped>
.funfact-item .funfact-icon {
    position: relative !important;
    width: 80px !important;
    height: 80px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    line-height: 80px !important;
}
</style>