<template>
    <div>
        <navs></navs>
        <section class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-content">
                            <h2 style="color:white" class="breadcrumb__title">login.</h2>
                            <ul class="breadcrumb__list">
                                <li class="active__list-item"><router-link to="/">home</router-link></li>
                                <li class="active__list-item">pages</li>
                                <li>login</li>
                            </ul>
                        </div><!-- end breadcrumb-content -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
        <section class="form-shared">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="contact-form-action">
                            <div class="form-heading text-center">
                                <h3 class="form__title">Login to your account!</h3>
                            </div>
                            <!--Contact Form-->
                            <form method="post" @submit.prevent='login'>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input class="form-control" type="email" name="email" placeholder="Enter Email" v-model="user.email">
                                        </div>
                                    </div><!-- end col-lg-12 -->
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input class="form-control" type="password" name="password" placeholder="Password" v-model="user.password">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 ">
                                        <div class="form-condition">
                                            <div class="custom-checkbox">
                                                <router-link to="/forget-password" class="pass__desc pull-right"> Forgot my password?</router-link>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 mb-2 mt-2"> <notification></notification> </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <button :disabled="loading" class="btn btn-info" type="submit">
                                                <!-- <loader v-if="loading" color="white"></loader> -->
                                                <span style="color:white">Login now </span>
                                            </button>
                                        </div>
                                    </div><!-- end col-lg-12 -->
                                    <div class="col-lg-12">
                                    <div class="account-assist">
                                        <p class="account__desc">Not a member?<router-link to="/register"> Register</router-link></p>
                                    </div>
                                    </div><!-- end col-lg-12 -->
                                </div><!-- end row -->
                            </form>
                        </div><!-- end contact-form -->
                    </div><!-- end col-lg-7 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <footers></footers>
    </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
    data(){
        return{
            user:{
                email:'',
                password:''
            },
            loading:false,
        }
    },
    computed:{ 
    },
    methods:{ 
        login(){
            if(this.user.email.length == 0 || this.user.password.length == 0){
                this.$store.commit('setNotification',{type:2,msg:'Email and Password fields are required'});
                return false;
            }

            if(this.loading){
                return false;
            } 
            this.loading=true;
            this.$store.commit('setNotification',{type:0,msg:''});
            this.$store.dispatch('post',{
                details:this.user,
                endpoint:'login'
            })
            .then((data)=>{
                console.log(data);
                if(data.data.status){ 
                    var result=data.data.user;
                    result.token=data.data.token;

                    this.$store.commit('setUser',result);
                    
                    if(result.userType == 0){
                        window.location.href='/inventor';
                    }else if(result.userType == 1){
                        window.location.href='/investor';
                    }
                }else{
                    this.$store.commit('setNotification',{type:2,msg:'Invalid login credentials'});
                }
                this.loading=false; 
            })
            .catch((error)=>{
                console.log(error.request);
                if(error.request != null){
                    this.$store.dispatch("handleError",error); 
                }
                this.loading=false;
            });
        },
    }
}
</script>

<style scoped>
    .form-group .btn-info{
        background-color: #233d63;
    }
</style>