<template>
    <div>
        <navs></navs>
        <section class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-content">
                            <h2 style="color:white" class="breadcrumb__title">sign up.</h2>
                            <ul class="breadcrumb__list">
                                <li class="active__list-item"><a href="index.html">home</a></li>
                                <li class="active__list-item">pages</li>
                                <li>sign up</li>
                            </ul>
                        </div><!-- end breadcrumb-content -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <section class="form-shared">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6  col-md-8 col-sm-10 col-12 mx-auto">
                        <div class="contact-form-action">
                            <div class="form-heading text-center">
                                <h3 class="form__title">Create an account!</h3>
                            </div>
                            <form method="post" @submit.prevent="validateData">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="name" placeholder="Full Name" v-model="data.name">
                                            <p class="text-danger" v-if="errors.name.status">{{errors.name.message}}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input class="form-control" type="tel" name="phone" placeholder="Phone Number" v-model="data.phone">
                                            <p class="text-danger" v-if="errors.phone.status">{{errors.phone.message}}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input class="form-control" type="email" name="email" placeholder="Email Address" v-model="data.email">
                                            <p class="text-danger" v-if="errors.email.status">{{errors.email.message}}</p>
                                        </div>
                                    </div><!-- end col-lg-12 -->
                                    <div class="col-lg-12">
                                        <ul class="ms-list d-flex">
                                            <li class="ms-list-item pl-0">
                                                <label for="rad1" class="ms-checkbox-wrap">
                                                     <input id="rad1" type="radio" name="radioExample" value="0" v-model="data.userType"> <i class="ms-checkbox-check"></i>
                                                </label>  <span class="rad" @click="toggleRadio('rad1')"> Inventor </span>
                                            </li>
                                            <li class="ms-list-item">
                                                <label  for="rad2" class="ms-checkbox-wrap">
                                                <input  id="rad2" type="radio" name="radioExample" value="1" checked v-model="data.userType"> <i class="ms-checkbox-check"></i>
                                                </label> <span class="rad" @click="toggleRadio('rad2')"> Investor </span>
                                            </li>
                                           
                                        </ul>
                                         <p class="text-danger" v-if="errors.userType.status">{{errors.userType.message}}</p>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input class="form-control" type="password" name="password" placeholder="Password" v-model="data.password">
                                            <p class="text-danger" v-if="errors.password.status">{{errors.password.message}}</p>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <notification></notification>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <button class="theme-button" type="submit">
                                                <loader v-if="loading" color="white"></loader>
                                               <span v-else style="color:white"> Register Account </span>
                                            </button>
                                        </div>
                                    </div><!-- end col-lg-12 -->
                                    <div class="col-lg-12">
                                        <div class="account-assist">
                                            <p class="account__desc">Already have an account?<router-link to="/login"> Login</router-link></p>
                                        </div>
                                    </div><!-- end col-lg-12 -->
                                </div><!-- end row -->
                            </form>
                        </div><!-- end contact-form -->
                    </div><!-- end col-lg-7 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <footers></footers>
    </div>
</template>
<script>
//inventor=0
//investor=1
export default {
    data(){
        return{
            data:{
                name: '',
                phone:'',
                userType:'',
                email:'',
                password:''
            },
            errors:{
                name:{
                    status:false,
                    message:'Enter your fullname'
                }, 
                phone:{
                    status:false,
                    message:'Enter Phone Number'
                },
                userType:{
                    status:false,
                    message:'Select one'
                },
                email:{
                    status:false,
                    message:'Enter your email'
                },
                password:{
                    status:false,
                    message:'Enter your password'
                }
            },
            loading:false,
        }
    },
    methods:{
        toggleRadio(id){
            document.getElementById(id).click();
        },
        validateData(){
            
            if(this.data.name.trim().length == 0 || !this.data.name.match(/^\w+/)){
                this.errors.name.status=true;
                this.errors.name.message='Invalid FirstName';
                // console.log('First not validate'); 
            } 
            else{
                this.errors.name.status=false;
            }

            if(this.data.userType.trim().length == 0){
                this.errors.userType.status=true;
                this.errors.userType.message='Select One';
            } 
            else{
                this.errors.userType.status=false;
            }

            if(this.data.phone.trim().length == 0 || !this.data.phone.match(/^[-+]?[0-9]+$/)){
                this.errors.phone.status=true;
                this.errors.phone.message='Invalid Phone Number';
            } 
            else{
                this.errors.phone.status=false;
            }

            if(this.data.email.trim().length == 0){
                this.errors.email.status=true;
                this.errors.email.message='Invalid Email';
                // console.log('Email not validate');
            }
            else{
                this.errors.email.status=false;
            }
            if(this.data.phone.trim().length == 0 || !this.data.phone.match(/^\d*$/)){
                this.errors.phone.status=true;
                this.errors.phone.message='Invalid Phone Number';
            }
            else{
                this.errors.phone.status=false;
            }
            if(this.data.password.length < 7){
                this.errors.password.status=true;
                this.errors.password.message='Password must be greater than 8';
            }
            else{
                this.errors.password.status=false;
            }
            // console.log(this.data.userType)
            var errorExist=false;
            for(var error in this.errors){ 
                if(this.errors[error].status == true){
                    errorExist=true; 
                    return false;
                }
            }
            

            if(!errorExist){
                this.createAccount();
            }
        },
        createAccount(){
            if(this.loading){
                return false;
            }

            this.loading=true;
            this.$store.commit('setNotification',{type:0,msg:''});
            this.$store.dispatch('post',{
                details:this.data,
                endpoint:'create-account'
            })
            .then((data)=>{
                console.log(data);
                this.loading=false;
                this.$store.commit('setNotification',{type:1,msg:'Your registration was successfull.Kindy check your mail to verify your account using the verification link that we sent to you.',unset:true});
                this.data={
                    name:'',
                    email:'',
                    password:'',
                    userType:'',
                    phone:''
                };
            })
            .catch((error)=>{
                console.log(error.request); 
                this.loading=false;
            });
        }
    }
}
</script>

<style scoped>
    .rad:hover{
        cursor: pointer;
    }
</style>