<template>
    <div>
        <navs></navs>

        <section class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-content">
                            <h2 class="breadcrumb__title">reset password.</h2>
                            <ul class="breadcrumb__list">
                                <li class="active__list-item"><router-link to="/">home</router-link></li>
                                <li class="active__list-item">pages</li>
                                <li>reset password</li>
                            </ul>
                        </div><!-- end breadcrumb-content -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
            </div>
        </section>

        <section class="form-shared">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="contact-form-action">
                            <div class="form-heading">
                                <h3 class="form__title">Reset Password!</h3>
                            </div>
                            <div class="form-group"><notification></notification></div>
                            <form method="post" @submit.prevent="reset()">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input class="form-control" type="password" name="password" placeholder="Enter New Password" v-model="user.password" v-if="!expired">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input class="form-control" type="password" name="comfirm_password" placeholder="Enter Comfirmed New Password" v-model="user.password_confirmation" v-if="!expired">
                                        </div>
                                    </div>
                                    <div class="col-lg-12" v-if="verified">
                                        <div class="form-group">
                                            <button class="theme-button reset__btn" type="submit">
                                                <loader v-if="loading" color="white"></loader>
                                                <span v-else style="color:white">reset password </span>
                                            </button>
                                        </div>
                                    </div>
                                    
                                </div><!-- end row -->
                            </form>
                        </div><!-- end contact-form -->
                    </div><!-- end col-lg-7 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <footers></footers>
    </div>
</template>
<script>
export default {
    data(){
        return {
            loading:true,
            verified:false,
            expired:false,
            user:{
                password:'',
                password_confirmation:'',
                token:''
            }
        }
    },
    methods:{ 
        verifyAccount(){ 
            this.loading=true;
            this.$store.commit('setNotification',{type:0,msg:''});
            this.$store.dispatch('get','verify-reset-token?code='+this.$route.params.token)
            .then((data)=>{
                console.log(data);
                this.loading=false;
                if(data.data.status){
                    this.verified=true;
                    this.user.token=this.$route.params.token;
                    // console.log(this.$route.params)
                }else{
                    console.log(this.$route.params)
                    this.expired=true;
                    this.$store.commit('setNotification',{type:2,msg:'Expired or Invalid reset link. <br> Please try resetting your password again.'});  
                }
            })
            .catch((error)=>{
                console.log(error.request);
                if(error.request != null){
                    this.$store.dispatch("handleError",error); 
                }
                this.loading=false;
            });
        },
        reset(){
            if(this.user.password_confirmation.length == 0 || this.user.password.length == 0){
                this.$store.commit('setNotification',{type:2,msg:'Password and Confirm password fields are required'});
                return false;
            }

            if(this.user.password_confirmation != this.user.password){
                this.$store.commit('setNotification',{type:2,msg:"password doesn't match"});
                return false;
            }

            if(this.loading){
                return false;
            } 
            this.loading=true;
            this.$store.commit('setNotification',{type:0,msg:''});
            this.$store.dispatch('post',{
                details:this.user,
                endpoint:'reset-password'
            })
            .then((data)=>{
                console.log(data);
                if(data.data.status){
                    this.$store.commit('setNotification',{type:1,msg:'Your password reset was successfull.'});
                    this.$router.push('/login');
                }else{
                    this.$store.commit('setNotification',{type:2,msg:'unknown error'});
                }
                this.loading=false; 
            })
            .catch((error)=>{
                console.log(error.request);
                if(error.request != null){
                    this.$store.dispatch("handleError",error); 
                }
                this.loading=false;
            });
        }
    },
    created(){
        this.verifyAccount();
    }
}
</script>
<style scoped>

</style>