<template>
    <div>
        <navs></navs>

        <section class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-content">
                            <h2 class="breadcrumb__title">services.</h2>
                            <ul class="breadcrumb__list">
                                <li class="active__list-item"><a href="index.html">home</a></li>
                                <li class="active__list-item">services</li>
                                <li>services</li>
                            </ul>
                        </div><!-- end breadcrumb-content -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <section class="feature-area feature-area3 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sec-heading">
                            <p class="sec__meta">our dedicated services</p>
                            <h2 class="sec__title">
                                We Offer Marketing and Consulting <br>
                                Services for Businesses.
                            </h2>
                        </div><!-- end sec-heading -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
                <div class="row feature-box">
                    <div class="col-lg-4">
                        <div class="info-item">
                            <span class="info__number">01</span>
                            <span class="flaticon-003-target info__icon"></span>
                            <h3 class="info__title">
                                <a href="service-detail.html">finance management.</a>
                            </h3>
                            <p class="info__desc">
                                sed quia lipsum dolor sit atur adipiscing elit is nunc quis
                                tellus sed ligula porta ultricies quis nec neulla.
                            </p>
                        </div><!-- end info-item -->
                    </div><!-- end col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="info-item">
                            <span class="info__number">02</span>
                            <span class="flaticon-043-bank info__icon"></span>
                            <h3 class="info__title">
                                <a href="service-detail.html">banking investigation.</a>
                            </h3>
                            <p class="info__desc">
                                sed quia lipsum dolor sit atur adipiscing elit is nunc quis
                                tellus sed ligula porta ultricies quis nec neulla.
                            </p>
                        </div><!-- end info-item -->
                    </div><!-- end col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="info-item">
                            <span class="info__number">03</span>
                            <span class="flaticon-001-time-is-money info__icon"></span>
                            <h3 class="info__title">
                                <a href="service-detail.html">business insurance.</a>
                            </h3>
                            <p class="info__desc">
                                sed quia lipsum dolor sit atur adipiscing elit is nunc quis
                                tellus sed ligula porta ultricies quis nec neulla.
                            </p>
                        </div><!-- end info-item -->
                    </div><!-- end col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="info-item">
                            <span class="info__number">04</span>
                            <span class="flaticon-009-search info__icon"></span>
                            <h3 class="info__title">
                                <a href="service-detail.html">market research.</a>
                            </h3>
                            <p class="info__desc">
                                sed quia lipsum dolor sit atur adipiscing elit is nunc quis
                                tellus sed ligula porta ultricies quis nec neulla.
                            </p>
                        </div><!-- end info-item -->
                    </div><!-- end col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="info-item">
                            <span class="info__number">05</span>
                            <span class="flaticon-012-safebox info__icon"></span>
                            <h3 class="info__title">
                                <a href="service-detail.html">strong business</a>
                            </h3>
                            <p class="info__desc">
                                sed quia lipsum dolor sit atur adipiscing elit is nunc quis
                                tellus sed ligula porta ultricies quis nec neulla.
                            </p>
                        </div><!-- end info-item -->
                    </div><!-- end col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="info-item">
                            <span class="info__number">06</span>
                            <span class="flaticon-017-monitor info__icon"></span>
                            <h3 class="info__title">
                                <a href="service-detail.html">large markets</a>
                            </h3>
                            <p class="info__desc">
                                sed quia lipsum dolor sit atur adipiscing elit is nunc quis
                                tellus sed ligula porta ultricies quis nec neulla.
                            </p>
                        </div><!-- end info-item -->
                    </div><!-- end col-lg-4 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <section class="about-area service-area service-area2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="service-content service-content-slider">
                            <div class="service-item">
                                <div class="service-icon">
                                    <span class="flaticon-001-time-is-money service__icon"></span>
                                </div>
                                <h3 class="service__title">
                                    <a href="service.html">consumer products</a>
                                </h3>
                                <p class="service__desc">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing
                                </p>
                                <a href="service.html" class="text-btn">
                                    see details <i class="fa fa-angle-right btn-icon"></i>
                                </a>
                            </div><!-- end service-item -->
                            <div class="service-item">
                                <div class="service-icon">
                                    <span class="flaticon-037-briefcase service__icon"></span>
                                </div>
                                <h3 class="service__title">
                                    <a href="service.html">adult marketing</a>
                                </h3>
                                <p class="service__desc">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing
                                </p>
                                <a href="service.html" class="text-btn">
                                    see details <i class="fa fa-angle-right btn-icon"></i>
                                </a>
                            </div><!-- end service-item -->
                            <div class="service-item">
                                <div class="service-icon">
                                    <span class="flaticon-031-get-money service__icon"></span>
                                </div>
                                <h3 class="service__title">
                                    <a href="service.html">banking advising</a>
                                </h3>
                                <p class="service__desc">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing
                                </p>
                                <a href="service.html" class="text-btn">
                                    see details <i class="fa fa-angle-right btn-icon"></i>
                                </a>
                            </div><!-- end service-item -->
                            <div class="service-item">
                                <div class="service-icon">
                                    <span class="flaticon-017-monitor service__icon"></span>
                                </div>
                                <h3 class="service__title">
                                    <a href="service.html">business growth</a>
                                </h3>
                                <p class="service__desc">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing
                                </p>
                                <a href="service.html" class="text-btn">
                                    see details <i class="fa fa-angle-right btn-icon"></i>
                                </a>
                            </div><!-- end service-item -->
                        </div><!-- end service-content -->
                    </div><!-- end col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="about-item">
                            <div class="sec-heading">
                                <p class="sec__meta">you deserve best services</p>
                                <h2 class="sec__title">
                                    We Provide Wide Range of Business Services.
                                </h2>
                                <p class="sec__desc">
                                    Investiga tiones demonstr averunt lectores legere me lius quod ii qua
                                    legunt saepius. Claritas est etiam pro cessus dynamicus, qui
                                    sequitur mutaety tion em consu etudium awquod he legunt
                                    saepius clary tyitas Investig atifonesw. tionem consu etudium.
                                </p>
                                <a href="#" class="text-btn">read more <i class="fa fa-angle-right"></i></a>
                            </div><!-- end sec-heading -->
                        </div><!-- end about-item -->
                    </div><!-- end col-lg-6 -->
                </div><!-- end row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="service-img-box">
                            <img src="./../../assets/images/img11.jpg" alt="service image">
                            <a class="mfp-iframe video-play-btn" href="https://www.youtube.com/watch?v=hs1HoLs4SD0" title="Play Video">
                                <span>W</span>
                                <span>a</span>
                                <span>t</span>
                                <span>c</span>
                                <span>h</span>
                                <i class="fa fa-play"></i>
                            </a>
                        </div><!-- end service-img-box -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <section class="divider">
            <span class="divider__dot"></span>
            <span class="divider__dot"></span>
            <span class="divider__dot"></span>
        </section>

        <section class="newsleller-area newsleller-area3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="sec-heading">
                            <h2 class="sec__title">Get Advice From Our Professionals.</h2>
                        </div><!-- end sec-heading -->
                    </div><!-- end col-lg-5 -->
                    <div class="col-lg-7">
                        <div class="contact-form-action">
                            <!--Contact Form-->
                            <form method="post">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="name" placeholder="Name" required="">
                                        </div>
                                    </div><!-- end col-lg-12 -->
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="form-group">
                                            <input class="form-control" type="email" name="email" placeholder="Email" required="">
                                        </div>
                                    </div><!-- end col-lg-12 -->
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="subject" placeholder="Subject" required="">
                                        </div>
                                    </div><!-- end col-lg-12 -->
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="form-group">
                                            <button class="theme-button" type="submit">
                                                Send Us Message <i class="fa fa-angle-right btn-icon"></i>
                                            </button>
                                        </div>
                                    </div><!-- end col-lg-12 -->
                                </div><!-- end row -->
                            </form>
                        </div><!-- end contact-form-action -->
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <footers></footers>
    </div>
</template>
<script>
export default {
    
}
</script>
<style scoped>

</style>