<template>
    <div>
        <navs></navs>

        <section class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-content">
                            <h2 style="color:white" class="breadcrumb__title">Accout Verification.</h2>
                            <ul class="breadcrumb__list">
                                <li class="active__list-item"><router-link to="/">home</router-link></li>
                                <li class="active__list-item">pages</li>
                                <li>verify account</li>
                            </ul>
                        </div><!-- end breadcrumb-content -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
            </div>
        </section>

        <section class="form-shared">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="contact-form-action">
                            <div class="form-group"><notification></notification></div>
                            <a href=""></a>
                            <form method="post">
                                <loader v-if="loading" color="orange"></loader> 
                                <div class="col-lg-12" v-if="verified">
                                    <div class="form-group">
                                        <router-link to="/login">
                                            <button class="theme-button reset__btn">
                                                Login <i class="fa fa-angle-right btn-icon"></i>
                                            </button>
                                        </router-link>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footers></footers>
    </div>
</template>
<script>
export default {
data(){
        return {
            loading:true,
            verified:false
        }
    },
    methods:{ 
        verifyAccount(){ 
            this.loading=true;
            this.$store.commit('setNotification',{type:0,msg:''});
            this.$store.dispatch('get','verify-account?code='+this.$route.query.code)
            .then((data)=>{
                console.log(data);
                this.loading=false;
                if(data.data.status){
                    this.$store.commit('setNotification',{type:1,msg:'Congratulations,your account has been verified .please proceed to login'});  
                    this.verified=true;
                }else{
                    this.$store.commit('setNotification',{type:2,msg:'Expired or Invalid verification link. <br> Please contact us'});  
                }
            })
            .catch((error)=>{
                console.log(error.request);
                if(error.request != null){
                    this.$store.dispatch("handleError",error); 
                }
                this.loading=false;
            });
        }
    },
    created(){
        this.verifyAccount();
    }
}
</script>
<style scoped>

</style>