	/*
  	Flaticon icon font: Flaticon
  	Creation date: 10/08/2017 08:48
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
        font-family: Flaticon;
        font-size: 60px;
        font-style: normal;
}

.flaticon-001-time-is-money:before { content: "\f100"; }
.flaticon-002-target-1:before { content: "\f101"; }
.flaticon-003-target:before { content: "\f102"; }
.flaticon-004-strategy-1:before { content: "\f103"; }
.flaticon-005-strategy:before { content: "\f104"; }
.flaticon-006-contract:before { content: "\f105"; }
.flaticon-007-invoice-1:before { content: "\f106"; }
.flaticon-008-search-1:before { content: "\f107"; }
.flaticon-009-search:before { content: "\f108"; }
.flaticon-010-job-search:before { content: "\f109"; }
.flaticon-011-safebox-1:before { content: "\f10a"; }
.flaticon-012-safebox:before { content: "\f10b"; }
.flaticon-013-presentation:before { content: "\f10c"; }
.flaticon-014-lecture:before { content: "\f10d"; }
.flaticon-015-piggy-bank-1:before { content: "\f10e"; }
.flaticon-016-piggy-bank:before { content: "\f10f"; }
.flaticon-017-monitor:before { content: "\f110"; }
.flaticon-018-network:before { content: "\f111"; }
.flaticon-019-eye:before { content: "\f112"; }
.flaticon-020-briefcase-2:before { content: "\f113"; }
.flaticon-021-money-bag:before { content: "\f114"; }
.flaticon-022-invoice:before { content: "\f115"; }
.flaticon-023-investment:before { content: "\f116"; }
.flaticon-024-shield-1:before { content: "\f117"; }
.flaticon-025-shield:before { content: "\f118"; }
.flaticon-026-idea:before { content: "\f119"; }
.flaticon-027-id-card:before { content: "\f11a"; }
.flaticon-028-diamond-1:before { content: "\f11b"; }
.flaticon-029-deal:before { content: "\f11c"; }
.flaticon-030-gold-ingots:before { content: "\f11d"; }
.flaticon-031-get-money:before { content: "\f11e"; }
.flaticon-032-diamond:before { content: "\f11f"; }
.flaticon-033-agenda-1:before { content: "\f120"; }
.flaticon-034-agenda:before { content: "\f121"; }
.flaticon-035-check-list:before { content: "\f122"; }
.flaticon-036-briefcase-1:before { content: "\f123"; }
.flaticon-037-briefcase:before { content: "\f124"; }
.flaticon-038-credit-card-2:before { content: "\f125"; }
.flaticon-039-calculator-1:before { content: "\f126"; }
.flaticon-040-calculator:before { content: "\f127"; }
.flaticon-041-business-cards:before { content: "\f128"; }
.flaticon-042-newspaper:before { content: "\f129"; }
.flaticon-043-bank:before { content: "\f12a"; }
.flaticon-044-credit-card-1:before { content: "\f12b"; }
.flaticon-045-credit-card:before { content: "\f12c"; }
.flaticon-046-balance-1:before { content: "\f12d"; }
.flaticon-047-balance:before { content: "\f12e"; }
.flaticon-048-auction:before { content: "\f12f"; }
.flaticon-049-advertising-1:before { content: "\f130"; }
.flaticon-050-advertising:before { content: "\f131"; }