@media only screen and (max-width:1125px){
    .navbar {
        padding: auto 29px;
    }
    .padding {
        padding: 0px 30px;
    }
    .card_button button {
        padding: 1px 10px 3px 9px;
    }
}
@media only screen and (max-width:770px){
    .select_wrapper {
        margin-bottom: 20px;
        display: block;
        width: 100%;
    }
    .select, select {
        margin-bottom: 4px;
        width: 100%;
        outline: medium;
        border-radius: 8px;
        margin-left: 0px;
    }
    .search {
        float: unset;
        margin-top: 0px;
        position: absolute;
        bottom: 210px;
        right: 19px;
    }

    /* Index two */
    .investor_details {
        width: 76%;
        padding-left: 16px;
    }
}