*{
    margin: 0;
    padding: 0;
}
.navbar{
    background: #ac3335;
    padding: 22px 90px;
}
.navbar-nav{
    margin-left: auto !important;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 15px;
    font-weight: 500;
    padding: 0px 18px;
}
.padding{
    padding: 0px 78px;
    position: relative;
}
.pd{
    padding-bottom: 135px !important;
}
.filter{
    margin-top: 40px;
    position: relative;
}
.filter h6{
    display: inline-flex;
    font-size: 14px;
}
.select_wrapper{
    display: inline-flex;
    width: 90%;
}
hr{
    margin-bottom: 23px;
    margin-top: 23px;
}
.select, select{
    width: 91%;
    outline: medium;
    border-radius: 8px;
    margin-left: 13px;
}
select{
    border: 1px solid #dcdcdc;
    padding: 9px 0px 12px 10px;
    font-size: 11px;
    color: #6c757db0;
}
.search{
    float: right;
    margin-top: 40px;
    font-size: 18px;
}
.card_wrapper{
    border: 1px solid #e9ecef;
    margin-bottom: 30px;
    border-radius: 14px;
}
.card_head{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6;
    padding: 20px 18px 10px 18px;
}
.fa-star{
    color: #ac3335;
}
.grey{
    color: #c4c4c4;
}
.card_title h4{
    font-size: 18px;
    font-weight: 600;
    color: #888;
}
.card_body{
    font-size: 13px;
    font-weight: 400;
    color: #6c757d;
    padding: 10px 18px 10px 18px;
}
.card_footer{
    display: flex;
    justify-content: space-between;
    padding: 10px 18px 10px 18px;
}
.icon i{
    color: #c4c4c4;
}
.card_button button{
    background: #ac3335;
    color: white;
    border-radius: 30px;
    font-size: 12px;
    padding: 1px 19px 5px 19px;
}
.card_button i{
    font-size: 10px;
    padding-left: 14px;
}
.price_description{
    font-size: 9px;
    display: block;
    font-weight: 500;
    color: #8a8888;
}
.price{
    color: #656262;
    font-size: 15px;
    font-weight: 600;
    font-family: system-ui;
}
.stars{
    font-size: 14px;
}
.btn:hover{
    color: white;
}

/* Index Two */
.Invention_wrapper{
    margin-top: 40px;
    border: 1px solid #e9c8c8;
    padding: 20px 24px 0px 28px;
    border-radius: 5px;
    /* overflow: hidden; */
}
.Invention_wrapper h6{
    font-size: 16px;
    color: #545b62cc;
    font-weight: 600;
    padding: 10px 0px;
}
.carousel_wrapper{
    /* display: flex; */
    /* width: 2000px; */
}
.item{
    margin-left: 15px;
    margin-right: 15px;
}
.carousel_head{
    padding: 15px 15px 7px 15px;
}
.carousel_title h4{
    font-size: 13px;
}
.carousel_p {
    font-size: 9px;
    padding: 10px 18px 0px 18px;
}
.carousel_stars{
    font-size: 11px;
    padding: 4px 0px;
}
.carousel_footer{
    padding: 0px 18px 10px 18px;
}
.carousel_but button{
    padding: 0px 11px 0px 11px;
    font-size: 10px;
}
.carousel_but i{
    font-size: 16px;
    padding-left: 25px;
}
.owl-theme .owl-dots {
    display: none;
}
.owl-theme .owl-nav {
    position: absolute;
    top: 0;
    width: 100%;
}
.owl-prev span{
    position: absolute;
    top: 30px;
    font-size: 60px;
    left: 0;
}
.owl-prev span:hover{
    color: black;
}
.owl-next span:hover{
    color: black;
}
.owl-next span{
    position: absolute;
    top: 30px;
    font-size: 60px;
    right: -5px;
}
.news_wrapper{
    border: 1px solid #ac333545;
    margin-top: 38px;
    border-radius: 8px;
}
.news_head{
    display: flex;
    justify-content: space-between;
    padding: 20px 15px 0px 20px;
    border-bottom: 1px solid #e9c8c8;
}
.news_head h6{
    color: #7f7e7e;
    font-weight: 600;
}
.view_all{
    display: flex;
}
.view_all p{
    margin-bottom: 0px;
    color: #7f7e7e;
    font-size: 11px;
    font-weight: 500;
}
.view_all i{
    color: #7f7e7e;
    margin-left: 24px;
}
.news_body{
    padding: 20px 15px 14px 20px;
}
.date{
    font-size: 11px;
    color: #ac3335;
    font-style: italic;
}
.investor{
    display: flex;
    margin-top: 15px;
}
.investor_img{
    width: 56px;
    background: #c4c4c4;
    height: 56px;
}
.investor_details{
    width: 54%;
    padding-left: 16px;
}
.investor_details .name{
    font-weight: 600;
    color: #ac3335;
    font-size: 17px;
}
.investor_price{
    font-size: 17px;
    color: #7f7e7e;
    font-weight: 400;
}
.investBalance_wrapper{
    margin-top: 40px;
    border: 1px solid #e9c8c8;
    border-radius: 5px;
}
.invest_head{
    background: #ac3335;
    padding: 36px 20px;
    border-top-left-radius: 3px;
    display: flex;
    border-top-right-radius: 3px;
}
.circle_big{
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 100%;
    position: relative;
}
.circle_small{
    background: black;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.tiny_circle{
    background: #ac3335;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    right: 1px;
}
.invest_text{
    padding-left: 15px;
}
.invest_name{
    font-size: 23px;
    color: white;
    font-weight: 700;
}
.invest_email{
    font-size: 12px;
    font-weight: 500;
    color: white;
}
.welC{
    font-size: 11px;
    color: white;
}
.invest_bal{
    display: flex;
    padding: 12px 0px;
}
.invest_acc{
    padding: 19px 33px;
    border-bottom: 1px solid #e9c8c8;
    font-size: 17px;
    font-weight: 600;
    color: #888888;
}
.bal{
    font-size: 16px;
    font-weight: 600;
    color: #9e9e9e;
    padding: 0px 33px;
}
.balance{
    font-family: unset;
    font-size: 25px;
    font-weight: 600;
    color: #736032;
}
.history_head{
    padding: 20px 19px 11px 33px;
}
.history_wrapper{
    border: 1px solid #e9c8c8;
    margin-top: 45px;
    border-radius: 4px;
    padding-bottom: 30px;
}
.history_body{
    padding: 20px 10px 0px 33px;
}
.hist_txt{
    font-size: 16px;
    color: #7f7e7e;
    font-weight: 600;
}
.hist_linedtxt{
    font-size: 16px;
    font-weight: 600;
    color: #ac3335;
    text-decoration: underline;
}
.hist_date{
    font-size: 11px;
    color: #6c757d;
    font-style: unset;
}