@media only screen and (max-width:600px){
    .balance {
        font-size: 19px;
    }
    .item {
        margin-left: 0px;
        margin-right: 0px;
    }
    .Invention_wrapper {
        padding: 20px 18px 0px 17px;
    }
}
@media only screen and (max-width:500px){
    .navbar {
        padding: 22px 29px;
    }
    .padding {
        padding: 0px 1px !important;
    }
    .pd{
        padding-bottom: 135px !important;
    }
    button {
        padding: 1px 3px 3px 6px;
    }
    .icon {
        margin-right: 8px;
    }

    /* Index Two */
    
    .investor_details {
        width: 75%;
    }
    .investor_details .name {
        font-size: 16px;
    }
    .investor_price {
        font-size: 14px;
    }
    .investor_img {
        margin-top: 8px;
    }
    .bal {
        padding: 0px 20px;
    }
    .invest_acc {
        padding: 19px 20px;
    }
    .history_body {
        padding: 20px 10px 0px 20px;
    }
    .history_head {
        padding: 20px 19px 11px 20px;
    }
    .Invention_wrapper{
        padding: 20px 10px 0px 10px;
    }
    
}
@media only screen and (max-width:400px){
    .card_footer{
        display: block;
    }
    .price_description {
        font-size: 10px;
    }
    .card_button button{
        margin-top: 7px;
    }


}