<template>
    <div>
        <div v-if="mounted">
            <div v-if="inventionStatus.status" class="px-3 mx-0 col-12  alert alert-danger">
                <h6 class="text-body">Your invention has been {{inventionStatus.type}} due to the following reasons: </h6>
                <b style="font-weight: 300;">{{inventionStatus.msg}}</b>

                <p class="mt-2 text-danger font-weight-bolder mb-0" v-if="inventionStatus.type=='cancelled'">Enter a new invention to continue.</p>
                <p class="mt-2 text-danger font-weight-bolder mb-0" v-else>Please make the necessary changes and submit again for review</p>
            </div> 
            
            
            <div class="col-md-12 px-0">
                <div class="ms-panel">
                    <div class="ms-panel-header">
                        <div class="sw-main sw-theme-arrows">
                            <ul class="nav nav-tabs step-anchor">
                                <li v-for="(step,index) in steps" :key="index" :class="step.id <= active_step ? 'active' : ''">
                                    <a class="nav-link" @click.prevent="active_step=step.id">{{step.title}}<br /><small>{{step.description}}</small></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="ms-panel-body">
                        <div class="progress">
                            <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" :style="{width:savedPercent}">
                                {{savedPercent}}
                            </div>
                        </div>
                        <form enctype="multipart/form-data" id="form">
                            <div v-for="(step,index) in steps" :key="index" :class="step.id == active_step ? 'tab1' : 'tab1 d-none'">
                                <div v-for="(field,index2) in step.fields" :key="index2"  class="form-group">
                                    <label for="name">{{field.label}}</label>
                                    <input v-if="field.type =='text'" type="text" class="form-control" id="name" :placeholder="field.placeholder" v-model="field.value" :name="field.key">
                                    <input v-else-if="field.type =='email'" type="email" class="form-control" id="name" :placeholder="field.placeholder" v-model="field.value" :name="field.key">
                                    <input v-else-if="field.type =='number'" min="0" type="number" class="form-control" :placeholder="field.placeholder" v-model="field.value" :name="field.key">
                                    <input v-else-if="field.type =='url'" type="url" class="form-control" :placeholder="field.placeholder" v-model="field.value" :name="field.key">
                                    <div class="input-group" v-else-if="field.type =='phone'">
                                        <div class="input-group-prepend bd-rgt">
                                            <!-- <v-select :options="country" label="phone_code" id="f-select"  v-model="country_code">  -->
                                            <v-select :options="country" label="phone_code" id="f-select"  v-model="country_code">
                                                <template slot="option" slot-scope="country">
                                                    <img :src="'https://www.countryflags.io/'+country.iso2+'/flat/32.png'" alt="">
                                                    {{ country.name }}
                                                </template>
                                            </v-select>
                                        </div>
                                        <input type="text" class="form-control" v-model="field.value" :name="field.key">
                                    </div>
                                    <div class="input-group" v-else-if="field.type == 'currency'">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">USD</span>
                                        </div>
                                        <input type="number" min="0" class="form-control" :placeholder="field.placeholder" :name="field.key" v-model="field.value">
                                    </div>
                                    <div class="input-group" v-else-if="field.type == 'percentage'">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text px-3">%</span>
                                        </div>
                                        <input type="number" min="0" class="form-control" :placeholder="field.placeholder" :name="field.key" v-model="field.value">
                                    </div>
                                    <textarea v-else-if="field.type == 'textarea'" :name="field.key" v-model="field.value" class="form-control" :placeholder="field.placeholder" cols="30" rows="6"></textarea>
                                    <select v-else-if="field.type == 'select'" v-model="field.value" class="form-control" :name="field.key" id="">
                                        <option v-for="(option,index3) in field.options" :key="index3" :value="option.value">{{option.title}}</option>
                                    </select>
                                    <select v-else-if="field.type == 'year'" v-model="field.value" class="form-control" :name="field.key" id="">
                                        <option v-for="(year,index4) in year(field.min)" :key="index4" :value="year">{{year}}</option>
                                    </select>
                                    <div v-else-if="field.type == 'file'" class="">
                                        <input type="file" class="file-hd" :id="field.key" @change="changeFile(field.key)" :name="field.key">
                                        <button style="width: auto;" class="btn file-btn btn-default form-control mt-0 mb-5" :class="field.key" @click.prevent="selectFile(field.key)">Upload file</button>
                                    </div>
                                    <input v-else-if="field.type =='url'" type="url" class="form-control" :placeholder="field.placeholder" v-model="field.value" :name="field.key">

                                    <p class="text-danger" v-if="field.error.length > 0">{{field.error}}</p>
                                </div> 
                            </div> 

                            <div class="row m-0" style="display:flex;justify-content:space-between">
                                <div class="col-12">
                                    <div class=""><notification></notification></div>
                                </div>
                                <div class="">
                                    <button @click="prev" type="button" class="btn nav-btn mr-2" v-if="active_step > 1"><i class="fas fa-chevron-left"></i> Previous</button>
                                    <button @click="next_tab()" type="button" class="btn nav-btn">Next &nbsp; <i class="fas fa-chevron-right"></i></button>
                                </div>
                                <div class="" v-if="canSubmit">
                                    <button style="background: white;color: green;" @click="save()" type="button" class="btn btn-success" >
                                        <loader v-if="loading" color="green"></loader>
                                        <span v-else style="color:green"> Save </span>
                                    </button>
                                    <button @click="submit()" type="button" class="btn btn-success ml-2" >
                                        <loader v-if="subLoading" color="white"></loader>
                                        <span v-else style="color:white"> Submit For Review </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import steps from '../../store/steps.js'
import country from '../../store/country.json'
import 'vue-select/dist/vue-select.css';

export default {
    data(){
        return {
            canSubmit:true,
            country_code:{
                phone_code:'234'
            },
            errors:{},
            active_step:1,
            steps:steps,
            data:{},
            loading:false,
            subLoading:false,
            token:this.$store.state.token,
            country:country,
            files:'',
            mounted:false,
            savedPercent:'0%',
            inventionStatus:{
                status:false,
                msg:''
            },
        }
    },
    methods:{
        changeFile(id){
            var call = document.getElementById(id);
            document.getElementsByClassName(id)[0].innerHTML = call.files[0].name
        },
        selectFile(id){
            var h=document.getElementById(id)
            h.click()
        },
        next_tab(){
            this.active_step == this.steps.length ? this.active_step = 1 : this.active_step = this.active_step + 1
        },
        submitForReview(){ 
            var error_exist=false;
            steps=steps.map((step)=>{
                step.fields=step.fields.map((field)=>{
                    if(field.required ){ //checking if this field is a must from the json file
                        if(['textarea','text'].find((type)=> type ==  field.type)){ 
                            if(this.isEmpty(field.value)){
                                field.error=field.label+" is required";
                                error_exist=true;
                            }
                        }
                    }
                    return field;
                });
                return step;
            });

            if(error_exist){
                return false;
            }

            //save the data
        }, 
        submit(){
            var error_exist=false;
            let form=document.getElementById('form');
            let formdata=new FormData(form);

            if(!this.data.id){
                formdata.append('id',0)
            }else{
                formdata.append('id',this.data.id)
            }
            
            for (let key of formdata.keys()) {
                if(!formdata.get(key)){
                    this.saveError(1,key,key+' field is required');
                    this.saveError(2,key,key+' field is required');
                    this.saveError(3,key,key+' field is required');
                    error_exist=true
                }
                if(key == 'email' && !this.isEmpty(formdata.get(key))){ 
                    let regx=/^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/;
                    if(!formdata.get(key).match(regx)){
                        this.saveError(1,key,'Invalid email');
                        error_exist=true
                    }else{
                        this.saveError(1,key,'');
                        error_exist=false
                    }
                }
                if(key == 'business_pitch'){
                    let regexp =  /^(?:(?:https?|ftp):\/\/)?(?:(?!(?:10|127)(?:\.\d{1,3}){3})(?!(?:169\.254|192\.168)(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})))(?::\d{2,5})?(?:\/\S*)?$/;
                    if(!formdata.get(key).match(regexp)){
                        this.saveError(3,key,'Invalid url');
                        error_exist=true
                    }else{
                        this.saveError(3,key,'');
                        error_exist=false
                    }
                }
                if(key == 'business_contact'){
                    let contact = this.country_code.phone_code + '('+formdata.get(key)+')'
                    formdata.set(key,contact)
                }

            }
            if(!error_exist){
                console.log('submit')
                this.subLoading=true;
                this.$store.commit('setNotification',{type:0,msg:''});
                this.$store.dispatch('post', {
                    details:formdata,
                    endpoint:'submitForReview?token='+this.token
                }).then((data)=>{
                    console.log(data)
                    this.test = data.data
                    if(data.data.status){
                        this.$store.commit('setNotification',{type:1,msg:data.data.msg});
                    }else{
                        this.$store.commit('setNotification',{type:2,msg:data.data.msg})
                    }
                    this.subLoading=false;
                })
                .catch((error)=>{
                    this.$store.dispatch('handleError',error)
                    this.subLoading=false
                })
            }
            
            
        },
        save(){
            var error_exist=false
            let form=document.getElementById('form');
            let formdata=new FormData(form);
            
            if(!this.data.id){
                formdata.append('id',0)
            }else{
                formdata.append('id',this.data.id)
            }
            for (let key of formdata.keys()) {
                
                if(key == 'email' && !this.isEmpty(formdata.get(key))){ 
                    let regx=/^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/;
                    if(!formdata.get(key).match(regx)){
                        this.saveError(1,'email','Invalid email');
                        error_exist=true
                    }else{
                        this.saveError(1,'email','');
                        error_exist=false
                    }
                }
                if(key == 'business_contact' && !this.isEmpty(formdata.get(key)) ){
                    let contact = this.country_code.phone_code + '('+formdata.get(key)+')'
                    formdata.set(key,contact)
                }
            }
            console.log(this.country_code)
            console.log(formdata.get('business_contact'))
            if(!error_exist){
                this.loading=true;
                this.$store.commit('setNotification',{type:0,msg:''});
                this.$store.dispatch('post', {
                    details:formdata,
                    endpoint:'save-progress?token='+this.token
                }).then((data)=>{
                    console.log(data)
                    this.getsavedData()
                    if(data.data.status){
                        this.$store.commit('setNotification',{type:1,msg:data.data.msg});
                    }else{
                        this.$store.commit('setNotification',{type:2,msg:'An error occur when saving progress, pls try again'})
                    }
                    this.loading=false;
                })
                .catch((error)=>{
                    // console.log(error)
                    this.$store.dispatch('handleError',error)
                    this.loading=false
                })
            }
        },
        saveError(step_id,field_name,message){
            this.steps=this.steps.map((step)=>{
                if(step.id == step_id){
                    step.fields=step.fields.map((field)=>{
                        if(field.key == field_name){
                            field.error=message;
                        } 
                        return field;
                    });
                } 
                return step;
            });
        },
        isEmpty(value){
            return value.length == 0  ? true:false;
        },
        prev(){
            this.active_step == 1 ? this.active_step = 1 : this.active_step = this.active_step - 1
        },
        year(min){
            var years=[]
            for (let i = min; i <= new Date().getFullYear() ; i++) {
                years.push(i)
            }
            return years
        },
        calPercent(fieldNum,fillField){
            this.savedPercent=((fillField/fieldNum) * 100).toFixed(0) + '%'
        },
        getsavedData(){
            let fieldNum = 0;
            let fillField = 0;
            this.$store.dispatch('get', 'getSavedData?token='+this.token)
            .then((data)=>{
                this.mounted=true
                let info=data.data.data
                console.log(info)
                if(info){
                    if (info.status == 0 || info.status == -1) {
                        this.data.id=info.id;
                        steps.forEach((step)=>{
                            step.fields.forEach((field)=>{
                                fieldNum++
                                if(info[field.key] != null){
                                    fillField++
                                    if(field.key == 'business_contact'){
                                        field.value = info[field.key].match(/\(([^)]+)\)/)[1]
                                        this.country_code.phone_code = info[field.key].split('(')[0]
                                    }else if(field.type == 'file'){
                                        setTimeout(()=>{
                                            document.getElementsByClassName(field.key)[0].innerHTML =info[field.key].file_name
                                        },1000);
                                    }
                                    else{
                                        field.value = info[field.key]
                                    }
                                }
                            })
                        })

                        this.calPercent(fieldNum,fillField)
                    } 
                    if(info.status == 2){
                        this.inventionStatus.status = true
                        this.inventionStatus.msg=info.notes.note
                        this.inventionStatus.type='cancelled'
                    }else if(info.status == -1){
                        this.inventionStatus.status = true
                        this.inventionStatus.msg=info.notes.note
                        this.inventionStatus.type='rejected'
                    }
                }
                
            })
            .catch((error)=>{
                this.$store.dispatch('handleError',error)
            })
        }
    },
    created(){
        this.getsavedData()
    },
}
</script>
<style scoped>
    .file-btn:hover{
        color: black;
    }
    .nav-btn{
        border: 1px solid #607D8B;
        padding: 8px 26px;
        min-width: auto;
        color: #607D8B;
    }
    .option-img{
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .file-hd{
        visibility: hidden; width: 0; height: 0;
    }
    .bd-rgt select{
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-radius: 0;
        border:1px solid lightgray;
        width: 90px;
    }
    .ms-panel-header{
        border-bottom: 0;
    }
    @media(max-width: 704px){
        .sw-theme-arrows > ul.step-anchor > li > a:before {
            display: none !important;
        }
        .sw-theme-arrows > ul.step-anchor > li.active > a:after {
            border-left: 0 !important;
        }
        .sw-theme-arrows > ul.step-anchor > li.active > a[data-v-0e607ab2]:after {
            border-left: 0 !important;
        }
        .nav-tabs li {
            margin-bottom: 10px;
        }
        
    }
    @media(min-width: 705px){
        .sw-theme-arrows > ul.step-anchor > li > a {
            /* background: #fff; */
            background: #f5f5f5;
        }
        .sw-theme-arrows > ul.step-anchor {
            background: #f5f5f5;
        }
    }
    .sw-theme-arrows > ul.step-anchor {
        border: 0;
        padding: 0px;
        /* background: #f5f5f5; */
        border-radius: 0;
        list-style: none;
        overflow: hidden;
    }
    .sw-theme-arrows > ul.step-anchor small{
        font-size: 20px;
    }
    .nav {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    .sw-theme-arrows > ul.step-anchor {
        list-style: none;
    }
    .sw-theme-arrows > ul.step-anchor > li.active > a {
        border-color: #5cb85c !important;
        color: #fff !important;
        background: #5cb85c !important;
    }

    .sw-theme-arrows > ul.step-anchor > li:first-child > a {
        padding-left: 15px;
    }
    .sw-theme-arrows > ul.step-anchor > li > a {
        color: #bbb;
        text-decoration: none;
        padding: 10px 0 10px 45px;
        position: relative;
        display: block;
        border: 0 !important;
        border-radius: 0;
        outline-style: none;
        /* background: #f5f5f5; */
    }
    .sw-theme-arrows > ul.step-anchor > li > a:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 30px solid #ddd;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        margin-left: 1px;
        left: 100%;
        z-index: 1;
    }
    .sw-theme-arrows > ul.step-anchor > li.active > a:after {
        border-left: 30px solid #5cb85c !important;
    }
    .sw-theme-arrows > ul.step-anchor > li > a:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 30px solid #f5f5f5;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        left: 100%;
        z-index: 2;
    }
</style>