<template>
    <div>
        <div class="ms-content-wrapper">
            <div class="row">
                <div class="col-md-12">
                     <h1 class="db-header-title">Welcome, {{user.name}} </h1> <!--  -->
                </div>
                <div v-if="user.email_verified_at == null" class="col-12 alert alert-danger">
                    <p class="m-0 p-0">Your email-address has not been verified.Kindly visit your mail and click on the verification link we sent to you.</p>
                    <a v-if="!resent" @click="resend()" href="#">Resend verification mail</a>
                    <b v-else class="text-success">Verification mail has been sent.</b>
                </div>
            </div>

        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex'; 
export default {
    data(){
        return{
            resent:false,
            loading:false,
            inventor:false,
            investor:false,
           
        }
    },
    computed:{
        ...mapState({
            user:(context)=>context.user, 
            userType:(context)=>context.userType,
            endpoint:(context)=>context.endpoint,
            token:(context)=>context.token 
        }),
    },
    methods:{
        resend(){
            this.$store.dispatch('get','resend-verification?token='+this.token)
            .then((data)=>{
                console.log(data); 
            })
            .catch((error)=>{
                console.log(error.request);
            });
            this.resent=true;
        },
    },
    mounted(){
        if(this.userType == 'inventor'){
            this.inventor = true
        }else{
            this.investor = true
        }
    },
    created(){ 
        this.$store.dispatch('getDashboard')
        .then((data)=>{
            this.$store.state.user=data.data.user
        })
        .catch((error)=>{
            this.$store.dispatch('handleError',error)
        });
    }
}
</script>
<style scoped>
 .tab {
  display: none;
}
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
</style>