<template>
    <div>
        <notification class="mx-0 mb-4"></notification>
        <div class="table-responsive">
            <table class="table table-hover thead-default">
                <thead>
                    <tr>
                        <th scope="col">Business Name</th>
                        <th scope="col">CAC number</th>
                        <th scope="col">Industry</th>
                        <th scope="col">Equity</th>
                        <th scope="col">Business Pitch Link</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="data in datas" :key="data.id" @click="$router.push('/inventor/invention/'+data.id+'/'+data.business_name)">
                        
                            <td>{{data.business_name}}</td>
                            <td>{{data.cac_no}}</td>
                            <td>{{data.industry}}</td>
                            <td>{{data.equity}}%</td>
                            <td><a :href="data.business_pitch">{{data.business_pitch.substr(0,60)+'..'}}</a></td>
                            <td v-if="data.status == 0">Not Completed</td>
                            <td v-else-if="data.status == -1">Rejected</td>
                            <td v-if="data.status == 2">Cancelled</td>
                            <td v-if="data.status == 1">Under Review</td>
                            <td v-if="data.status == 3">Accepted</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
  </div>
</template>

<script>
export default {
    data(){
        return{
            datas:[],
        }
    },
    methods:{
        getAllInventions(){
            this.$store.dispatch('get','getUserInventions?token='+this.$store.state.token)
            .then((data)=>{
                console.log(data.data)
                if(data.data.status){
                    this.datas = data.data.data
                }else{
                    this.$store.commit('setNotification', {type:2,msg:data.data.msg})
                }
            })
            .catch((error)=>{
                this.$store.dispatch('handleError',error);
            });
        },
    },
    created(){
        this.getAllInventions()
    }
}
</script>

<style>

</style>