<template>
    <div>
        <div v-if="mounted">
            <div v-if="inventionStatus.status">
                <div v-if="inventionStatus.type=='success'" class="px-3 mx-0 col-12  alert alert-success">
                    <b style="font-weight: 300;">{{inventionStatus.msg}}</b>
                </div>
                <div v-else class="px-3 mx-0 col-12  alert alert-danger">
                    <h6 class="text-body">Your invention has been {{inventionStatus.type}} due to the following reasons: </h6>
                    <b style="font-weight: 300;">{{inventionStatus.msg}}</b>

                    <p class="mt-2 text-danger font-weight-bolder mb-0" v-if="inventionStatus.type=='cancelled'">Please make the necessary changes and submit again for review</p>
                    <p class="mt-2 text-danger font-weight-bolder mb-0" v-else> Enter a new invention to continue.</p>
                </div> 
            </div>
            <div class="progress">
                <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" :style="{width:savedPercent}">
                    {{savedPercent}}
                </div>
            </div>
            <div class="col-md-12 px-0">
                <div class="ms-panel">
                    <div class="ms-panel-header">
                        <div class="sw-main sw-theme-arrows">
                            <ul class="nav nav-tabs step-anchor">
                                <li v-for="(step,index) in steps" :key="index" :class="step.id <= active_step ? 'active' : ''"><a class="nav-link">{{step.title}}<br /><small>{{step.description}}</small></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class=""><notification></notification></div>
                    
                    <div class="ms-panel-body">
                        <form enctype="multipart/form-data" id="form">
                            <div v-for="(step,index) in steps" :key="index" :class="step.id == active_step ? 'tab1' : 'tab1 d-none'">
                                <div v-for="(field,index2) in step.fields" :key="index2"  class="form-group">
                                    <label for="name">{{field.label}}</label>
                                    <input disabled v-if="field.type =='text'" type="text" class="form-control" id="name" :placeholder="field.placeholder" v-model="field.value" :name="field.key">
                                    <input disabled v-else-if="field.type =='email'" type="email" class="form-control" id="name" :placeholder="field.placeholder" v-model="field.value" :name="field.key">
                                    <input disabled v-else-if="field.type =='number'" min="0" type="number" class="form-control" :placeholder="field.placeholder" v-model="field.value" :name="field.key">
                                    <input disabled v-else-if="field.type =='url'" type="url" class="form-control" :placeholder="field.placeholder" v-model="field.value" :name="field.key">
                                    <div class="input-group" v-else-if="field.type =='phone'">
                                        <div class="input-group-prepend bd-rgt">
                                            <!-- <v-select :options="country" label="phone_code" id="f-select"  v-model="country_code">  -->
                                            <v-select disabled :options="country" label="phone_code" id="f-select"  v-model="country_code">
                                                <template slot="option" slot-scope="country">
                                                    <img :src="'https://www.countryflags.io/'+country.iso2+'/flat/32.png'" alt="">
                                                    {{ country.name }}
                                                </template>
                                            </v-select>
                                        </div>
                                        <input disabled type="text" class="form-control" v-model="field.value" :name="field.key">
                                    </div>
                                    <div class="input-group" v-else-if="field.type == 'currency'">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">USD</span>
                                        </div>
                                        <input disabled type="text" class="form-control" :placeholder="field.placeholder" :name="field.key" v-model="field.value">
                                    </div>
                                    <div class="input-group" v-else-if="field.type == 'percentage'">
                                        <input disabled type="text" class="form-control" :placeholder="field.placeholder" :name="field.key" v-model="field.value">
                                        <div class="input-group-append">
                                            <span class="input-group-text">%</span>
                                        </div>
                                    </div>
                                    <textarea disabled v-else-if="field.type == 'textarea'" :name="field.key" v-model="field.value" class="form-control" :placeholder="field.placeholder" cols="30" rows="6"></textarea>
                                    <select disabled v-else-if="field.type == 'select'" v-model="field.value" class="form-control" :name="field.key" id="">
                                        <option v-for="(option,index3) in field.options" :key="index3" :value="option.value">{{option.title}}</option>
                                    </select>
                                    <select disabled v-else-if="field.type == 'year'" v-model="field.value" class="form-control" :name="field.key" id="">
                                        <option v-for="(year,index4) in year(field.min)" :key="index4" :value="year">{{year}}</option>
                                    </select>
                                    <div v-else-if="field.type == 'file'">
                                        <input disabled type="file" class="file-hd" :id="field.key" @change="changeFile(field.key)" :name="field.key">
                                        <button class="btn btn-primary form-control mt-0" :class="field.key" @click.prevent="selectFile(field.key)">Upload file</button>
                                    </div>
                                    <input disabled v-else-if="field.type =='url'" type="url" class="form-control" :placeholder="field.placeholder" v-model="field.value" :name="field.key">

                                    <p class="text-danger" v-if="field.error.length > 0">{{field.error}}</p>
                                </div> 
                            </div> 

                            <button @click="next_tab()" type="button" class="btn btn-primary ml-2">Next</button>
                            <button @click="prev" type="button" class="btn btn-primary ml-2" v-if="active_step > 1">Previous</button>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import steps from '../../store/steps.js'
import country from '../../store/country.json'
import 'vue-select/dist/vue-select.css';

export default {
    data(){
        return {
            country_code:{
                phone_code:'234'
            },
            active_step:1,
            steps:steps,
            data:{},
            token:this.$store.state.token,
            country:country,
            mounted:false,
            savedPercent:'0%',
            inventionStatus:{
                status:false,
                msg:''
            },
        }
    },
    methods:{
        next_tab(){
            this.active_step == this.steps.length ? this.active_step = 1 : this.active_step = this.active_step + 1
        },
        prev(){
            this.active_step == 1 ? this.active_step = 1 : this.active_step = this.active_step - 1
        },
        year(min){
            var years=[]
            for (let i = min; i <= new Date().getFullYear() ; i++) {
                years.push(i)
            }
            return years
        },
        calPercent(fieldNum,fillField){
            this.savedPercent=((fillField/fieldNum) * 100).toFixed(0) + '%'
        },
        getInvention(){
            let fieldNum = 0;
            let fillField = 0;
            this.$store.dispatch('get', 'getInvention/'+this.$route.params.id+'?token='+this.token)
            .then((data)=>{
                this.mounted=true
                let info=data.data.data
                console.log(info)
                if(info){
                    this.data.id=info.id;
                    steps.forEach((step)=>{
                        step.fields.forEach((field)=>{
                            fieldNum++
                            if(info[field.key] != null){
                                fillField++
                                if(field.key == 'business_contact'){
                                    field.value = info[field.key].match(/\(([^)]+)\)/)[1]
                                    this.country_code.phone_code = info[field.key].split('(')[0]
                                }else if(field.type == 'file'){
                                    setTimeout(()=>{
                                        document.getElementsByClassName(field.key)[0].innerHTML =info[field.key].file_name
                                    },1000);
                                }
                                else{
                                    field.value = info[field.key]
                                }
                            }
                        })
                    })

                    this.calPercent(fieldNum,fillField)
                }
                if(info.status == 2){
                    this.inventionStatus.status = true
                    this.inventionStatus.msg=info.notes.note
                    this.inventionStatus.type='cancelled'
                }else if(info.status == -1){
                    this.inventionStatus.status = true
                    this.inventionStatus.msg=info.notes.note
                    this.inventionStatus.type='rejected'
                }else if(info.status == 3){
                    this.inventionStatus.status = true
                    this.inventionStatus.msg='Your invention has been accepted'
                    this.inventionStatus.type='success'
                }
            })
            .catch((error)=>{
                this.$store.dispatch('handleError',error)
            })
        }
    },
    created(){
        this.getInvention()
    },
}
</script>
<style scoped>
    
    .option-img{
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .file-hd{
        visibility: hidden; width: 0; height: 0;
    }
    .bd-rgt select{
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-radius: 0;
        border:1px solid lightgray;
        width: 90px;
    }
    .ms-panel-header{
        border-bottom: 0;
    }
    .sw-theme-arrows > ul.step-anchor {
        border: 0;
        /* border-bottom: 1px solid #ddd; */
        padding: 0px;
        background: #f5f5f5;
        border-radius: 0;
        /* border-top-right-radius: 5px; */
        list-style: none;
        overflow: hidden;
    }
    .sw-theme-arrows > ul.step-anchor small{
        font-size: 20px;
    }
    .nav {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    .sw-theme-arrows > ul.step-anchor {
        list-style: none;
    }
    .sw-theme-arrows > ul.step-anchor > li.active > a {
        border-color: #5cb85c !important;
        color: #fff !important;
        background: #5cb85c !important;
    }

    .sw-theme-arrows > ul.step-anchor > li:first-child > a {
        padding-left: 15px;
    }
    .sw-theme-arrows > ul.step-anchor > li > a {
        color: #bbb;
        text-decoration: none;
        padding: 10px 0 10px 45px;
        position: relative;
        display: block;
        border: 0 !important;
        border-radius: 0;
        outline-style: none;
        background: #f5f5f5;
    }
    .sw-theme-arrows > ul.step-anchor > li > a:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 30px solid #ddd;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        margin-left: 1px;
        left: 100%;
        z-index: 1;
    }
    .sw-theme-arrows > ul.step-anchor > li.active > a:after {
        border-left: 30px solid #5cb85c !important;
    }
    .sw-theme-arrows > ul.step-anchor > li > a:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 30px solid #f5f5f5;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        left: 100%;
        z-index: 2;
    }
</style>