<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'; 
export default {
  name: 'App',
  computed:{
      ...mapState({
          user:(state)=> state.user,
          token:(state)=> state.token,
          endpoint:(state)=> state.endpoint,
      })
  },
  methods:{
  },
  created(){
    if(this.$route.meta.AuthRequired){
      var data = localStorage.getItem('invenstor');    
      data=decodeURIComponent(data); 
      data=JSON.parse(data);
      new Promise((resolve,reject)=>{
        axios.get(this.endpoint+'get-dashboard?token='+data.token)
        .then((user)=>{
          var result=user.data.user
          result.token=data.token
          var lst=encodeURIComponent(JSON.stringify(result));
          localStorage.setItem('invenstor',lst);
          resolve(user)
            
        })
        .catch((error)=>{
            this.$store.dispatch('handleError',error);
            reject(error)
        })
      });
      this.$store.commit('getUser');
      if(this.user.id != undefined){
           setTimeout(()=>{
            //  this.refreshToken();
           },3000);

          //  setInterval(()=>{
          //    this.refreshToken();
          //  },10000);
      }
    }
  },
}
</script>

<style>

</style>
