<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script> 
import { mapState } from 'vuex'; 
export default {
  name: 'App',
  computed:{
      ...mapState({
          user:(state)=> state.user,
          token:(state)=> state.token,
          endpoint:(state)=> state.endpoint,
      })
  },
  methods:{
  },
  created(){
    if(this.$route.meta.AuthRequired || this.$route.matched.find((d)=>d.meta.AuthRequired)){
      var data = localStorage.getItem('invenstor');    
      data=decodeURIComponent(data); 
      data=JSON.parse(data);
 
        this.$store.dispatch('get','get-dashboard?token='+data.token)
        .then((user)=>{ 
          var result=user.data.user
          result.token=data.token;
          this.$store.commit('setUser',result);
          var lst=encodeURIComponent(JSON.stringify(result));
          localStorage.setItem('invenstor',lst); 
        })
        .catch((error)=>{
            this.$store.dispatch('handleError',error); 
        });

      this.$store.commit('getUser');
      
      if(this.user.id != undefined){
           setTimeout(()=>{
            //  this.refreshToken();
           },3000);
      }
    }
  },
}
</script>

<style>

</style>
