<template>
    <div class="container-fluid">
        <div class="row p-0">
            <div class="col-md-12 p-0">
                <div class="nav_wrapper">
                    <nav class="navbar navbar-expand-lg navbar-light ">
                        <a class="navbar-brand" href="#">
                            <img src="../../../assets/INvenstor2.png" alt="">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav"> 
                            <router-link :class="$route.name ==  'investor' ? 'nav-link active':'nav-link'" to="/investor">Dashboard</router-link>
                            <router-link :class="$route.name ==  'inventionList' ? 'nav-link active':'nav-link'" to="investor/inventions">Inventions</router-link>
                            <a class="nav-link" href="#">Messages</a>
                            <a class="nav-link" href="#">Notifications</a>
                            <a class="nav-link profile-link" href="#">
                                Settings
                                <!-- <span class="mt-1">{{user.firstname}}</span> -->
                                <!-- <img class="ml-1" src="../../../assets/user-xxl.png" width="28px" alt=""> -->
                                <!-- <div class="triangle"></div> -->
                                <div id="popDropDown">
                                    <a href="#" class="nav-link p-link"><i class="fas fa-user"></i> Profile</a>
                                    <a href="#" class="nav-link p-link"><i class="fas fa-cog"></i> Settings</a>
                                    <hr class="mt-1">
                                    <a href="#" @click="logout()" class="nav-link p-link logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                                </div>
                            </a>
                        </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <router-view></router-view>
    </div>
        
</template>

<script>
import { mapState } from 'vuex';
export default {
    computed:{
        ...mapState({
            user:(state)=>state.user
        })
    },
    methods:{
        logout(){
            localStorage.clear();
            window.location.href="/login";
        }
    },
    created(){
        console.log(this.$route);
    }
    
}
</script>

<style scoped>
    .navbar{
        padding: 0px 80px !important;
    }
    .navbar-light .navbar-nav .nav-link { 
        padding: 15px 18px;
    }
    .profile-link{
        position: relative;
    }
    #popDropDown{
            position: absolute;
            width: 180px;
            background: white;
            z-index: 99999;
            left: -87px;
            box-shadow: 0px 2px 2px #bbb5b540;
            border-radius: 3px;
            top: 53px; 
            border: 1px solid #d3d3d32e;
            display: none;
    }
    hr {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .p-link{
        font-weight: 400 !important;
        padding: 7px 13px !important;
    }
    .p-link i{
        margin-right: 4px;
    }
    .logout{
        color: #ac3335 !important;
    }
    .triangle{
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        width: 17px;
        height: 16px;
        background: white;
        position: absolute;
        top: 30px;
        right: 4px;
        box-shadow: 4px 4px 4px #bbb5b5;
    }
    .profile-link:hover #popDropDown{
        display: block;
    }
    #popDropDown:hover{
        display: block;
    }
    
</style>
<style>
    .navbar{
        background: white !important;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-brand img{
        width: 130px;
    }
    .navbar-nav a img{
        border-radius: 50%;
        border: 1px solid #d3d3d366;
    }
    .navbar-nav a.active{
        color: #ac3335 !important;
    }
    .navbar-nav a span{
        color: black;
    }
</style>
