<template>
  <div>
    <div class="ms-aside-overlay ms-overlay-left ms-toggler" data-target="#ms-side-nav" data-toggle="slideLeft"></div>
    <div class="ms-aside-overlay ms-overlay-right ms-toggler" data-target="#ms-recent-activity" data-toggle="slideRight"></div>
    <!-- Sidebar Navigation Left -->
    <aside id="ms-side-nav" class="side-nav fixed ms-aside-scrollable ms-aside-left">
      <!-- Logo -->
      <div class="logo-sn ms-d-block-xs">
        <a class="pl-0 ml-0 text-center" href="/dashboard">
          <img src="../../../assets/INvenstor3.png" alt="logo">
        </a>
      </div>
      <!-- Navigation -->
      <ul class="accordion ms-main-aside fs-14" id="side-nav-accordion">
            <li class="menu-item">
              <router-link to="/inventor" >
                <span><i class="fa fa-home fs-16"></i>Dashboard </span>
              </router-link>
            </li>
            <div v-if="inventor">
              <li class="menu-item">
                <a href="/inventor/add-invention">
                  <span><i class="fa-plus fa fs-16"></i>Create Invention</span>
                </a>
              </li>
              <li class="menu-item">
                <router-link to="/inventor/inventions">
                  <span><i class="fa fa-code"></i>Inventions</span>
                </router-link>
              </li>
            </div>
            <li class="menu-item">
              <a href='' @click="logout()" >
                <span><i class="fa fa-power-off"></i>Logout </span>
              </a>
            </li>
      </ul>
    </aside>
    
    <!-- Main Content -->
    <main class="body-content">
      <user-navbar></user-navbar>
      <div class="ms-content-wrapper">
        <div class="row">
          <div class="col-md-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb pl-0"> 
                <li v-for="(route,index) in routes" :key="index" :class="route.active ? 'breadcrumb-item active':'breadcrumb-item'"><a :href="'/'+route.path"> <i v-if="route.home" class="fa fa-home"></i> {{route.name}}</a></li>
              </ol>
            </nav>
            
          </div>
        </div>
        <router-view></router-view>
      </div>
    </main>

  </div>
</template>
<script>
export default {
  data(){
      return {
        routes:[],
        inventor:false,
        investor:false
      }
    }, 
  methods:{
    logout(){
        this.$store.commit('logout');
        window.location.href='';
    }
  }, 
    updated(){
      setTimeout(()=>{
        var routes=this.$route.fullPath.split('/');
        var temp=[];
        routes=routes.filter((d)=> d != '');
        this.routes=routes.map((d)=>{
          temp.push(d);
          return {
            name:d[0].toUpperCase()+d.substr(1,d.length-1), //camelcase
            path:temp.join('/'),
            active:temp.length == routes.length,
            home:temp.length == 1
          };
        }); 
      },100);
    },
    created(){
      setTimeout(()=>{
        var routes=this.$route.fullPath.split('/');
        var temp=[];
        routes=routes.filter((d)=> d != '');
        this.routes=routes.map((d)=>{
          temp.push(d);
          return {
            name:d[0].toUpperCase()+d.substr(1,d.length-1), //camelcase
            path:temp.join('/'),
            active:temp.length == routes.length,
            home:temp.length == 1
          };
        }); 
      },100);

      if(this.$store.state.userType == 'inventor'){
        this.inventor = true
      }else{
        this.investor = true
      }
    }
}
</script>
<style scoped>
.ms-content-wrapper {
        padding: 15px;
    }
  li.active a{
    color: grey !important;
  }
</style>