<template>
    <nav class="navbar ms-navbar py-0 bg-transparent">
        <div id="ms-aside-toggler" class="ms-aside-toggler ms-toggler pl-0" data-target="#ms-side-nav" data-toggle="slideLeft"> 
            <span class="ms-toggler-bar bg-primary"></span>
            <span class="ms-toggler-bar bg-primary"></span>
            <span class="ms-toggler-bar bg-primary"></span>
        </div>
        <div class="logo-sn logo-sm ms-d-block-sm">
            <a class="pl-0 ml-0 text-center navbar-brand mr-0" href="/dashboard"><img src="./../../../assets/assets1/img/costic/costic-logo-84x41.png" alt="logo"> </a>
        </div>
        <ul class="ms-nav-list ms-inline mb-0" id="ms-nav-options"> 
        <!-- <li class="ms-nav-item">
            <a href="/notifications" class="text-disabled ms-has-notification" id="notificationDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flaticon-bell"></i></a>
        </li> -->

            <li class="ms-nav-item ms-nav-user dropdown">
                <a href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img style="border:1px solid darkgrey" class="ms-user-img ms-img-round float-right" src="./../../../assets/user-xxl.png" alt="people">
                </a>
                
            </li>
        </ul>
        <div class="ms-toggler ms-d-block-sm pr-0 ms-nav-toggler" ></div>
    </nav>
</template>

<script>
import { mapState } from 'vuex';
export default {
    computed:{
        ...mapState({
            user:(context)=>context.user
        })
    },
    methods:{
        logout(){
            this.$store.commit('logout');
            window.location.href='';
        }
    }
}
</script>
<style scoped>
    .ms-inline li.ms-nav-item{
            padding: 10px 0px;
    }
    @media only screen and (max-width: 500px){
        .navbar {
            padding: 22px 29px !important;
        }
    }
    @media (max-width: 1024px){
        .ms-aside-left.ms-aside-open.side-nav {
            transform: translateX(0);
        }
        .ms-aside-left-open .ms-aside-left.side-nav {
            transform: translateX(-100%);
        }
    }
</style>